     <!-- Page 1 -->
     <div #leonardoDaVinci *ngIf="resumeService.resumeComponents!=null">
     <div class="main-page">
        <div class="tm-row-ca tm-row-hight">
            <div class="col-12" *ngIf="resumeService.resumeComponents.personal!=null">
                <div class="tm-row name-tag color-1 ">
                    <div class="name-sub-box">
                        <div class="user-img">
                
                            <img src="https://www.cricbuzz.com/stats/img/faceImages/508.jpg" alt="">
                        </div>
                        <div class="name-main">
                          <div class="col-12" style="
                          text-align: center;
                      ">
                            <label for="" class="color-3">{{resumeService.resumeComponents.personal.firstName}} &nbsp; {{resumeService.resumeComponents.personal.lastName}}</label>
                         
                          </div>
                           <span>
                                {{resumeService.resumeComponents.workExperiance[0].jobTitle}}
                        
                            </span>
                            <div class="contact-details-box">
                                <span><i class="fa fa-phone color-2"></i>&nbsp;&nbsp;{{resumeService.resumeComponents.personal.phoneNumber}}</span>
                                <span><i class="fa fa-envelope color-2"></i>&nbsp;&nbsp;{{resumeService.resumeComponents.personal.email}}</span>
                                <span><i class="fa fa-map-marker color-2"></i>&nbsp;&nbsp;{{resumeService.resumeComponents.personal.address.street}},
                                    {{resumeService.resumeComponents.personal.address.city}}
                                    {{resumeService.resumeComponents.personal.address.country}}</span>
              
                               </div>
                        </div>
                     
                    </div>
                   
                    
                </div>
            </div>
            <div class="tm-row"style="margin-top: 14px;" >
                <div class="col-8 margin-top ">
           
                    <div class="col-12 col-box " *ngIf="resumeService.resumeComponents.workExperiance.length > 0">
                        <div class="title-box font-color color-3"><i class="fa fa-phone name-icon color-2"></i>Experience</div>
                        <div class="professional-box componentSection" *ngFor="let  item of resumeService.resumeComponents.workExperiance">
        
                            <div class="p-0 col-12 tm-row">
                              <div class="col-8 p-0  "> <label>{{item.jobTitle}}</label></div>
                              <div class="col-4 p-0 text-right c-name date-font-size"><i class="far fa-calendar-alt"></i>
                                &nbsp;{{item.timePeriod.from.month.substring(0,3)+"/"+item.timePeriod.from.year}} -
                                {{item.timePeriod.to.month.substring(0,3)+"/"+item.timePeriod.to.year}}</div>
                              <div class="col-8 p-0  c-name">{{item.companyName}}</div>
                              <div class="col-4 p-0 text-right c-name date-font-size">{{item.city}},{{item.country}}</div>
                              <span class="span-text" innerHTML="{{item.description}}"></span>
                            </div>
                          </div>
        
        
        
                    </div>
        
                    <div class="col-12 col-box componentSection" >
                        <div class="title-box font-color color-3" *ngIf="resumeService.resumeComponents.education.length > 0"><i class="fa fa-phone name-icon color-2"></i>EDUCATION</div>
                        <div class="professional-box " *ngFor="let item of resumeService.resumeComponents.education">
                         
                            <div class="p-0 col-12 tm-row">
                              <div class="col-8 p-0  "> <label>{{item.feildOfStudy}}</label></div>
                              <div class="col-4 p-0 text-right c-name date-font-size"><i class="far fa-calendar-alt"></i>
                                &nbsp;{{item.timePeriod.from.month.substring(0,3)+"/"+item.timePeriod.from.year}} -
                                {{item.timePeriod.to.month.substring(0,3)+"/"+item.timePeriod.to.year}}</div>
                
                              <div class="col-8 p-0  c-name">{{item.institutionName}}</div>
                              <div class="col-4 p-0 text-right c-name date-font-size">{{item.city}},{{item.country}}</div>
                              <span class="span-text" innerHTML="{{item.description}}"></span>
                
                            </div>
                          </div>
        
        
        
                    </div>
        
                    <div class="col-12 col-box componentSection" >
                        <div class="title-box font-color color-3" *ngIf=" resumeService.resumeComponents.certificates.length>0"><i class="fa fa-phone name-icon color-2"></i>CERTIFICATES</div>
                        <div class="professional-box "
                        *ngFor="let item of resumeService.resumeComponents.certificates">
                        <!-- <label>{{item.certificateName}}</label> -->
            
            
                        <div class="p-0 col-12 tm-row">
                          <div class="col-8   "> <label>{{item.certificateName}}</label></div>
                          <div class="col-4"><i class="far fa-calendar-alt"></i> &nbsp;
                            {{item.dateOfCerticate.month+"/"+item.dateOfCerticate.year}}</div>
            
            
                          <div class="col-12 ">{{item.certicateCode}}</div>
                          <span class="span-text" innerHtml="{{item.description}}"></span>
            
            
            
                        </div>
                      </div>
                    </div>
        
                    <div class="col-12 col-box componentSection">
                        <div class="title-box font-color border-color" *ngIf="resumeService.resumeComponents.awards.length>0">Awards
                        </div>
                        <div class="professional-box" *ngFor="let item of resumeService.resumeComponents.awards">
                          <label>{{item.name}}</label>
              
              
                          <div class="p-0 col-12 tm-row">
              
                            <!-- <div class="col-8 p-0  c-name">URL to award</div> -->
                            <div class="col-8 p-0 ">{{item.url}}</div>
                            <!-- <div class="col-8 p-0  c-name">Issuer</div> -->
                            <div class="col-4 p-0 text-right">{{item.issuer}}</div>
                            <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.month+"/"+item.year}}</span><br>
              
              
              
                            <span class="span-text" innerHtml="{{item.description}}"></span>
              
              
              
              
              
                          </div>
                        </div>
                      </div>
              
                      <div class="col-12 col-box componentSection">
                        <div class="title-box font-color border-color" *ngIf=" resumeService.resumeComponents.achivements.length > 0">
                          Achievements</div>
                        <div class="professional-box" *ngFor="let item of resumeService.resumeComponents.achivements">
                          <label>{{item.name}}</label>
                          <div class="p-0 col-12 tm-row">
                            <span class="span-text" innerHtml="{{item.description}}"></span>
                          </div>
                        </div>
                      </div>
              
              
                      <div class="col-12 col-box componentSection" *ngIf="resumeService.resumeComponents.publications.length >  0">
                        <div class="title-box font-color border-color">Publications</div>
                        <div class="professional-box" *ngFor="let item of resumeService.resumeComponents.publications">
                          <div class="p-0 col-12 tm-row">
                            <div class="col-8 p-0"><label>{{item.title}}</label></div>
                            <div class="col-4 p-0 text-right">{{item.publisher}}</div>
                            <div class="col-8 p-0  c-name">{{item.url}}</div>
                            <div class="col-4 p-0 text-right"><i class="far fa-calendar-alt"></i>
                              &nbsp;{{item.publicationDate.month.substring(0,3)+"/"+item.publicationDate.year}}</div>
                            <br>
                            <span class="span-text" innerHtml="{{item.description}}"></span>
                          </div>
                        </div>
                      </div>
              
              
                      <div class="col-12 col-box componentSection">
                        <div class="title-box font-color border-color" *ngIf="resumeService.resumeComponents.referances.length > 0">
                          Reference</div>
                        <div class="professional-box" *ngFor="let item of resumeService.resumeComponents.referances">
                          <label>{{item.personName}}</label>
                          <div class="p-0 col-12 tm-row">
                            <div class="col-12 p-0 ">{{item.title}}</div>
                            <div class="col-12 p-0  c-name">{{item.company}}</div>
                            <div class="col-12 p-0  c-name">{{item.contact1}}</div>
                            <div class="col-12 p-0  c-name">{{item.email}}</div>
                            <div class="col-12 p-0  c-name">{{item.description}}</div>
                          </div>
                        </div>
                      </div>
                   
                </div>
                
                    <div class="col-4 ">
                        
                   
            
                        <div class="col-12 prsonal-box">
                         
                            <div class="title-box font-color ">Summery</div>
                            <p style="text-align: justify;" innerHtml="{{resumeService.resumeComponents.personal.description}}">
                            </p>
                        </div>
            
                      
                            <div class="tm-row">
                                <div class="col-12 sub-box  prsonal-box">
                                  <div class="title-box  ">Skills</div>
                          
                                  <div class="pl-1" *ngFor="let skills of resumeService.resumeComponents.skills">
                                    <span class="skill-sub-title">{{skills.skillCategoryName}}</span>
                                    <span class="key-skills-box bg-color" *ngFor="let skill of skills.skillNames">
                                      {{skill.skillName}}
                                    </span>
                                  </div>
                          
                                </div>
                              </div>
                      
            
                   
                        
            
                </div>
            </div>
      
    </div>
    </div>

     <!-- Page 2 -->
     <div *ngFor="let item of componentList">

        <resume-page [data]=item></resume-page>
    
      </div>
    </div>