
<div class="" #newton *ngIf="resumeService.resumeComponents!=null">
<div class="main-page">
  <!-- <div class="header">
        <div class="row">
                <div class="col-7">
                        <ul class="user-details">
                            <li><span><i class="fa fa-phone"></i>&nbsp;&nbsp;+94758627689</span></li>
                            <li><span><i class="fa fa-envelope"></i>&nbsp;&nbsp;lojan@gmail.com</span></li>
                            <li><span><i class="fa fa-map-marker"></i>&nbsp;&nbsp;lojan@gmail.com</span></li>

                        </ul>
                    </div>
            <div class="col-5" style="text-align: right;">
                <div class="name">marty mcfy</div>
                <div class="title">business analyst</div>
            </div>

        </div>
    </div> -->




  <div class="row">

    <div class="col-4 header border-color">
      <div class="col-12">
        <div class="border-box border-color">
          <div class="user-img">
            <img src="images/images.jpg" alt="">
          </div>
          <div class="name">{{resumeService.resumeComponents.personal.firstName}}</div>
          <div class="title">{{resumeService.resumeComponents.personal.lastName}}</div>
          <div class="title-2">{{resumeService.resumeComponents.workExperiance[0].jobTitle}}</div>
        </div>
        <div class="border-box border-color">
          <ul class="user-details">
            <li><span><i
                  class="fa fa-phone call-icon"></i>&nbsp;&nbsp;{{resumeService.resumeComponents.personal.phoneNumber}}</span>
            </li>
            <li><span><i
                  class="fa fa-envelope mail-icon"></i>&nbsp;&nbsp;{{resumeService.resumeComponents.personal.email}}</span>
            </li>
            <li><span><i
                  class="fa fa-map-marker location-icon"></i>&nbsp;&nbsp;{{resumeService.resumeComponents.personal.address.street}},
                {{resumeService.resumeComponents.personal.address.city}}
                {{resumeService.resumeComponents.personal.address.country}}</span>
            </li>

          </ul>
        </div>


      </div>


      <div class="col-12">
        <div class="title-box title-color border-color">Summery</div>
        <p style="text-align: justify; " innerHtml="{{resumeService.resumeComponents.personal.description}}">
        </p>
      </div>
      <div class="col-12">
        <div class="title-box title-color border-color">Skills</div>

        <div class="pl-1" *ngFor="let skills of resumeService.resumeComponents.skills">
          <span class="skill-sub-title">{{skills.skillCategoryName}}</span>

          <span class="key-skills-box box-color" *ngFor="let skill of skills.skillNames">
            {{skill.skillName}}</span>
        </div>


      </div>

    </div>
    <div class="col-8">
      <div class="col-12 componentSection">
        <div class="title-box title-color border-color">Experience</div>


        <div class="col-12 row" *ngFor="let item of resumeService.resumeComponents.workExperiance">

          <div class="col-6 p-0 bold">{{item.jobTitle}}</div>
          <div class="col-6 p-0 text-right">{{item.city}},{{item.city}}</div>


          <span class="span-text"><i class="far fa-calendar-alt"></i>
            &nbsp;{{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
            {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</span><br>
          <label class="span-text" innerHtml="{{item.description}}"></label>
        </div>


      </div>

      <div class="col-12 componentSection">
        <div class="title-box title-color border-color">Education</div>
        <div class="col-12 row" *ngFor="let item of resumeService.resumeComponents.education">

          <div class="col-6 p-0 bold">{{item.feildOfStudy}}</div>
          <div class="col-6 p-0 text-right">{{item.city}},{{item.country}}</div>

          <div class="col-6 p-0 ">{{item.institutionName}}</div>
          <div class="col-6 p-0 text-right span-text">
            {{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
            {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</div>


          <label class="span-text" innerHtml="{{item.description}}"></label>





        </div>
      </div>


      <div class="col-12 componentSection">
        <div class="title-box title-color border-color">Certificates</div>
        <div class="col-12 row" *ngFor="let item of resumeService.resumeComponents.certificates">

          <div class="col-6 p-0 bold">{{item.certificateName}}</div>
          <div class="col-6 p-0 text-right">{{item.city}},{{item.country}}</div>

          <div class="col-6 p-0 ">{{item.institutionName}}</div>
          <div class="col-6 p-0 text-right span-text">
            {{item.dateOfCerticate.month+"/"+item.dateOfCerticate.year}}</div>

          <label class="span-text" innerHtml="{{item.description}}"></label>

        </div>
      </div>


      <div class="col-12 componentSection" *ngIf=" resumeService.resumeComponents.awards.length>0">
        <div class="title-box">Awards</div>



        <div class="col-12 row" *ngFor="let item of resumeService.resumeComponents.awards">

          <div class="col-6 p-0 bold">{{item.name}}</div>
          <div class="col-6 p-0 text-right">{{item.url}}</div>

          <div class="col-6 p-0 ">{{item.issuer}}</div>
          <div class="col-6 p-0 text-right span-text">
            {{item.month+"/"+item.year}}</div>

          <label class="span-text" innerHtml="{{item.description}}"></label>
        </div>


      </div>

      <div class="col-12 componentSection" *ngIf=" resumeService.resumeComponents.achivements.length > 0">
        <div class="title-box">Achievements</div>
        <div class="col-12 row" *ngFor="let item of resumeService.resumeComponents.achivements">
          <div class="col-12 p-0 bold">{{item.name}}</div>
          <label class="span-text" innerHtml="{{item.description}}"></label>
        </div>
      </div>

      <div class="col-12 componentSection" *ngIf="resumeService.resumeComponents.referances.length > 0">
        <div class="title-box">REFERENCE</div>
        <div class="col-12 row" *ngFor="let item of resumeService.resumeComponents.referances">
          <div class="col-12 p-0 bold">{{item.personName}}</div>
          <div class="col-12 row">

            <div class="col-12 p-0  c-name">{{item.title}} , {{item.company}} </div>
            <div class="col-12 p-0  c-name">{{item.mobile}} </div>
            <div class="col-12 p-0  c-name">{{item.email}} </div>

            <div class="col-12 p-0  c-name" innerHtml="{{item.description}}"></div>

          </div>
        </div>
      </div>


      <!-- Publications -->
      <div class="col-12 sub-box componentSection" *ngIf="resumeService.resumeComponents.publications.length >  0">
        <div class="border-b">
          <div class="title-box">Publications</div>
          <div class="in-box">


            <div class="col-12 p-0 col-box">
              <div class="professional-box" *ngFor="let item of resumeService.resumeComponents.publications">



                <div class="col-12 row">
                  <div class="col-8 p-0"><label>{{item.title}}</label></div>
                  <div class="col-4 p-0 text-right">{{item.publisher}}</div>
                  <div class="col-8 p-0  c-name">{{item.url}}</div>
                  <!-- <div class="col-4 p-0 text-right">04/2019 - 12/2019</div> -->
                  <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                  <br>
                  <span class="span-text" innerHtml="{{item.description}}"></span>





                </div>
              </div>


            </div>
          </div>
        </div>
      </div>



    </div>





  </div>



  <div class="row">

  </div>
</div>


<div *ngFor="let item of componentList">

  <resume-page [data]=item></resume-page>

</div>

</div>