<div class="main-page">

  <div class="row">
    <div class="col-2 p-0 left-sec-bg">
      <div class="user-img">
        <img src="images/images.jpg" alt="">
      </div>


    </div>



    <div class="col-10 p-0">

      <div class="header">
        <div class="row">
          <div class="col-7">
            <div class="name">{{resumeService.resumeComponents.personal.firstName}}
              {{resumeService.resumeComponents.personal.lastName}}</div>
            <div class="title">{{resumeService.resumeComponents.workExperiance[0].jobTitle}}</div>
          </div>
          <div class="col-3">
            <ul class="user-details">
              <li><span><i
                    class="fa fa-phone"></i>&nbsp;&nbsp;{{resumeService.resumeComponents.personal.phoneNumber}}</span>
              </li>
              <li><span><i
                    class="fa fa-envelope"></i>&nbsp;&nbsp;{{resumeService.resumeComponents.personal.email}}</span></li>
              <li><span><i
                    class="fa fa-map-marker"></i>&nbsp;&nbsp;{{resumeService.resumeComponents.personal.address.street}},
                  {{resumeService.resumeComponents.personal.address.city}}
                  {{resumeService.resumeComponents.personal.address.country}}</span></li>

            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 sub-box">
          <div class="border-left">
            <div class="title-icon"><i class="fas fa-address-card"></i></div>
            <div class="title-box">Summery</div>
            <p>{{resumeService.resumeComponents.personal.description}}
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 sub-box">
          <div class="border-left">
            <div class="title-icon"><i class="fas fa-address-card"></i></div>
            <div class="title-box">Skills</div>
            <div class="pl-1" *ngFor="let skills of resumeService.resumeComponents.skills">
              <span class="skill-sub-title">{{skills.skillCategoryName}}</span>
              <span class="key-skills-box" *ngFor="let skill of skills.skillNames">{{skill.skillName}}</span>
            </div>


          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 sub-box">
          <div class="border-left">
            <div class="title-icon"><i class="fas fa-address-card"></i></div>
            <div class="title-box ">professional experience</div>
            <div class="title-sub sub-colo">Alph Foods</div>


            <div class="p-0 col-12 row">

              <!-- <div class="col-6 p-0 bold">{{item.jobTitle}}</div>
              <div class="col-6 p-0 text-right">{{item.city}},{{item.city}}</div> -->

              <!-- <span class="span-text"><i class="far fa-calendar-alt"></i>
                &nbsp;{{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
                {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</span><br>
              <label class="span-text">{{item.description}}</label> -->
            </div>
          </div>
        </div>


        <div class="col-12" *ngIf="resumeService.resumeComponents.education.length >0">
          <div class="title-box">Education</div>



          <div class="p-0 col-12 row" *ngFor="let item of resumeService.resumeComponents.education">

            <div class="col-6 p-0 bold">{{item.feildOfStudy}}</div>
            <div class="col-6 p-0 text-right">{{item.city}},{{item.country}}</div>

            <div class="col-6 p-0 ">{{item.institutionName}}</div>
            <div class="col-6 p-0 text-right span-text">
              {{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
              {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</div>


            <label class="span-text">{{item.description}}</label>





          </div>


        </div>

        <div class="col-12" *ngIf=" resumeService.resumeComponents.certificates.length>0">
          <div class="title-box">Certificates</div>



          <div class="p-0 col-12 row" *ngFor="let item of resumeService.resumeComponents.certificates">

            <div class="col-6 p-0 bold">{{item.certificateName}}</div>
            <div class="col-6 p-0 text-right">{{item.city}},{{item.country}}</div>

            <div class="col-6 p-0 ">{{item.institutionName}}</div>
            <div class="col-6 p-0 text-right span-text">
              {{item.dateOfCerticate.month+"/"+item.dateOfCerticate.year}}</div>


            <label class="span-text">{{item.description}}</label>





          </div>


        </div>

        <div class="col-12" *ngIf=" resumeService.resumeComponents.certificates.length>0">
          <div class="title-box">Awards</div>



          <div class="p-0 col-12 row" *ngFor="let item of resumeService.resumeComponents.certificates">

            <div class="col-6 p-0 bold">{{item.name}}</div>
            <div class="col-6 p-0 text-right">{{item.url}}</div>

            <div class="col-6 p-0 ">{{item.issuer}}</div>
            <div class="col-6 p-0 text-right span-text">
              {{item.month+"/"+item.year}}</div>

            <label class="span-text">{{item.description}}</label>
          </div>


        </div>

        <div class="col-12" *ngIf=" resumeService.resumeComponents.achivements.length > 0">
          <div class="title-box">Achievements</div>
          <div class="p-0 col-12 row" *ngFor="let item of resumeService.resumeComponents.achivements">
            <div class="col-12 p-0 bold">{{item.name}}</div>
            <label class="span-text">{{item.description}}</label>
          </div>
        </div>

        <div class="col-12" *ngIf="resumeService.resumeComponents.referances.length > 0">
          <div class="title-box">REFERENCE</div>
          <div class="p-0 col-12 row" *ngFor="let item of resumeService.resumeComponents.referances">
            <div class="col-12 p-0 bold">{{item.personName}}</div>
            <div class="p-0 col-12 row">

              <div class="col-12 p-0  c-name">{{item.title}} , {{item.company}} </div>
              <div class="col-12 p-0  c-name">{{item.mobile}} </div>
              <div class="col-12 p-0  c-name">{{item.email}} </div>

              <div class="col-12 p-0  c-name">{{item.description}}</div>

            </div>
          </div>
        </div>

        <!-- Publications -->
        <div class="col-12 sub-box" *ngIf="resumeService.resumeComponents.publications.length >  0">
          <div class="border-b">
            <div class="title-box">Publications</div>
            <div class="in-box">


              <div class="col-12 p-0 col-box">
                <div class="professional-box" *ngFor="let item of resumeService.resumeComponents.publications">



                  <div class="p-0 col-12 row">
                    <div class="col-8 p-0"><label>{{item.title}}</label></div>
                    <div class="col-4 p-0 text-right">{{item.publisher}}</div>
                    <div class="col-8 p-0  c-name">{{item.url}}</div>
                    <!-- <div class="col-4 p-0 text-right">04/2019 - 12/2019</div> -->
                    <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                    <br>
                    <span class="span-text">{{item.description}}</span>





                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
