/* .editor__group-main-wrapper input:focus ~ label,
.editor__group-main-wrapper input:valid ~ label
{
   
} */


.editor__group-main-wrapper input.visited ~ .editor__group-main-wrapper label{
    top: -18px !important;
    color: #610059 !important;
}
.zoom-btn{
    button{
        font-size: 20px;
        color: #00756a;
        margin-top: 5px;
        background: transparent;
        margin-right: 10px;
    }
}