<div class="editor__group" id="personal">


  <aside class="editor__group-sidebar">
    <div class="editor__group-title">
      <i class="fas fa-user"></i>
      <p class="paragraph--big u-color-gray-alt-14 u-weight-smb">Personal Information</p>
    </div>
    <div class="editor__photo">
      <div class="text-center col user-img-main">
        <img [src]=" resumeService.resumeComponents.personal.profilePic" class="user-img" />
      </div>
      <div class="editor__photo-img" style="background-image: url('assets/images/headshot.jpg');"></div>
      <div class="editor__photo-img">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
          [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4 / 3" [resizeToWidth]="256"
          [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="true"
          [style.display]="showCropper ? null : 'none'" [canvasRotation]="canvasRotation" [transform]="transform"
          [alignImage]="'left'" format="" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady($event)" (loadImageFailed)="loadImageFailed()">
        </image-cropper>
      </div>
      <div class="zoom-btn" [style.display]="showCropper ? null : 'none'">

        <button (click)="zoomOut()"><i class="fas fa-search-minus"></i></button> <button (click)="zoomIn()"><i
            class="fas fa-search-plus"></i></button>
      </div>
      <div class="editor__photo-check checkbox m-2" [style.display]="showCropper ? null : 'none'">
        <input type="checkbox" id="use-profile-photo" [(ngModel)]="userProfileUpload"
          (change)="userProfileImageUpload()">


        <label for="use-profile-photo" class="use-profile-photo d-block">Use profile photo</label>

      </div>
      <!-- <input type="file" class="editor__photo-input" id="editor-photo"> -->
      <input type="file" (change)="fileChangeEvent($event)" class="editor__photo-input" id="editor-photo" />
      <label for="editor-photo" class="editor__photo-label">
        <span class="btn btn--auto btn--primary-alt btn--no-shadow btn--full btn--accent">
          <p class="btn__label paragraph--med"><i class="fas fa-upload btn__icon"></i>
            Upload Photo</p>
        </span>
      </label>
    </div>
  </aside>
  <div class="editor__group-main">
    <div class="row">
      <div class="col-md-4 ">

      </div>
      <div class="col-md-4">

      </div>
      <div class="co-md-4 ">
        <!-- <button><a (click)="goToPreview()">preview</a></button> -->
      </div>


    </div>
    <div class="row">
      <div class="col-12 editor__group-main-form editor__group-main-form--alt">
        <div class="row">

          <div class="col-12 col-xl-4">
            <div class="editor__group-main-wrapper">

              <input type="text" [(ngModel)]="resumeService.resumeComponents.personal.title" required>
              <label>Title before</label>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4">
            <div class="editor__group-main-wrapper">

              <input type="text" [(ngModel)]="resumeService.resumeComponents.personal.firstName" required>
              <label>First Name </label>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4">
            <div class="editor__group-main-wrapper">

              <input type="text" [(ngModel)]="resumeService.resumeComponents.personal.lastName" required>
              <label>Last Name</label>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-12 col-lg-6 editor__group-main-wrapper">




            <mat-datepicker #Start></mat-datepicker>
            <input type="text" [(ngModel)]="resumeService.resumeComponents.personal.dateOfBirth" placeholder="From"
              readonly [matDatepicker]="Start" (click)="Start.open()" required>

            <!-- <label style="left: 13px;">From</label> -->

          </div>
          <div class="col-12 col-lg-6">
            <div class="editor__group-main-wrapper">

              <input type="text" [(ngModel)]="resumeService.resumeComponents.personal.nationality" required>
              <label>Nationality</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="editor__group-main-wrapper">

              <input type="tel" [(ngModel)]="resumeService.resumeComponents.personal.phoneNumber" required>
              <label>Phone Number</label>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="editor__group-main-wrapper">

              <input type="email" [(ngModel)]="resumeService.resumeComponents.personal.email" required>
              <label>Email Address</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="editor__group-main-wrapper">

              <input type="text" [(ngModel)]="resumeService.resumeComponents.personal.web" required>
              <label>Website Link</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <label>Address</label>
              </div>
              <div class="col-12 col-lg-6">
                <div class="editor__group-main-wrapper">
                  <input type="text" [(ngModel)]="resumeService.resumeComponents.personal.address.street" required>
                  <label for="">Street line</label>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="editor__group-main-wrapper">
                  <input type="text" [(ngModel)]="resumeService.resumeComponents.personal.address.city" required>
                  <label for="">City</label>

                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="editor__group-main-wrapper">
                  <input type="text" [(ngModel)]="resumeService.resumeComponents.personal.address.postalCode" required>
                  <label for="">Postal Code</label>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="editor__group-main-wrapper">
                  <input type="text" [(ngModel)]="resumeService.resumeComponents.personal.address.country" required>
                  <label for="">Country</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-12">
            <div class="row">
              <label class="col-5">Profile Description</label> <label *ngIf=isLengthIsAbove role="alert"
                class="col-7 alert alert-success"> This
                description is lenthy better you choose another template</label>
            </div>
            <ckeditor
              [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic','link','bulletedList','numberedList','blockQuote','table','undo','redo'] }"
              [editor]="Editor" [(ngModel)]="resumeService.resumeComponents.personal.description"
              (change)="onChange($event)">
            </ckeditor>
          </div>
        </div>


      </div>
    </div>
  </div>


</div>
