<app-header></app-header>
<main class="dashboard">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="dashboard__resumes">
                  <div class="resume-preview-box resume-preview-box--cta">
                      <a routerLink="/templates" class="btn btn--full btn--primary-alt btn--no-shadow"><p class="paragraph--small u-font-titles-smb btn__label">Create New Resume</p></a>
                      <a href="#" class="btn btn--full btn--outline-primary-alt btn--primary-alt btn--no-shadow"><p class="paragraph--small u-font-titles-smb btn__label">Import from LinkedIn</p></a>
                      <a href="#" class="btn btn--full btn--outline-primary-alt btn--primary-alt btn--no-shadow"><p class="paragraph--small u-font-titles-smb btn__label">Use Sample</p></a>
                  </div>
                  <div class="resume-preview-box" style="background-image: url('assets/images/template-1.jpg');">
                      <div class="resume-preview-box__overlay">
                          <ul class="resume-preview-box__actions">
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-edit.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <a [routerLink]="['/edit','template-einstein']" class="u-weight-smb">Edit</a>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-download-alt.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Download</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-create-website.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Create Website</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-proofread.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Proofread</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-export.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Export to Word</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-email.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Send to Email</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-duplicate.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Duplicate</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-delete.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Delete</p>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="resume-preview-box" style="background-image: url('assets/images/template-2.jpg');">
                      <div class="resume-preview-box__overlay">
                          <ul class="resume-preview-box__actions">
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-edit.png" alt="Icon" class="resume-preview-box__actions-icon">
                                <a [routerLink]="['/edit','template-moon']" class="u-weight-smb">Edit</a>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-download-alt.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Download</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-create-website.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Create Website</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-proofread.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Proofread</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-export.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Export to Word</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-email.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Send to Email</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-duplicate.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Duplicate</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-delete.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Delete</p>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="resume-preview-box" style="background-image: url('assets/images/template-3.jpg');">
                      <div class="resume-preview-box__overlay">
                          <ul class="resume-preview-box__actions">
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-edit.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Edit</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-download-alt.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Download</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-create-website.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Create Website</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-proofread.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Proofread</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-export.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Export to Word</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-email.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Send to Email</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-duplicate.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Duplicate</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-delete.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Delete</p>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="resume-preview-box" style="background-image: url('assets/images/template-4.jpg');">
                      <div class="resume-preview-box__overlay">
                          <ul class="resume-preview-box__actions">
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-edit.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Edit</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-download-alt.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Download</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-create-website.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Create Website</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-proofread.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Proofread</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-export.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Export to Word</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-email.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Send to Email</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-duplicate.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Duplicate</p>
                              </li>
                              <li class="resume-preview-box__actions-item">
                                  <img src="assets/images/i-delete.png" alt="Icon" class="resume-preview-box__actions-icon">
                                  <p class="u-weight-smb">Delete</p>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
