<!-- <label for="" class="color-box">dfgsghjk</label> -->



<div class="main-page" #hawking>

    <div class="temp-header bg-color">
        <div class="row">
            <div class="col-7">
                <div class="name myClass">{{resumeComponents.personal.firstName}}&nbsp; {{resumeComponents.personal.lastName}}</div>
                <div class="title">{{resumeService.resumeComponents.workExperiance[0].jobTitle}}</div>

            </div>
            <div class="col-3">
                <ul class="user-details">
                    <li><span><i class="fas fa-phone-square-alt"></i>&nbsp;{{resumeComponents.personal.phoneNumber}}</span></li>
                    <li><span><i class="fas fa-envelope-square"></i>&nbsp;{{resumeComponents.personal.email}}</span></li>
                    <li><span><i class="fas fa-home"></i>&nbsp;{{resumeComponents.personal.address.street}},
                            {{resumeComponents.personal.address.city}} {{resumeComponents.personal.address.country}}</span></li>

                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 sub-box">
            <div class="border-left">
                <div class="title-icon bg-color"><i class="fas fa-address-card"></i></div>
                <div class="title-box font-color myClass">Summery</div>
                <p innerHtml="{{resumeComponents.personal.description}}">
                </p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12 sub-box">
            <div class="border-left">
                <div class="title-icon bg-color"><i class="fas fa-address-card"></i></div>
                <div class="title-box font-color">Skills</div>

                <div class="border-b">
                    <div class="title-box font-color">Skills</div>
                    <div class="pl-1" *ngFor="let skills of resumeComponents.skills">
                        <span class="skill-sub-title">{{skills.skillCategoryName}}</span>
                        <span class="key-skills-box bg-color" *ngFor="let skill of skills.skillNames">
                            {{skill.skillName}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 sub-box">
            <div class="border-left">
                <div class="title-icon bg-color"><i class="fas fa-address-card"></i></div>
                <div class="title-box font-color ">Experience</div>
                <div class="">
                    <div class="professional-box" *ngFor="let item of resumeComponents.workExperiance">
                        <label class="bold">{{item.jobTitle}}</label>


                        <div class="p-0 col-12 row">

                            <div class="col-6 p-0  c-name">{{item.companyName}}</div>
                            <div class="col-6 p-0 text-right">{{item.city}},{{item.city}}</div>
                            <span class="span-text"><i class="far fa-calendar-alt"></i>
                                &nbsp;{{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
                                {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</span><br>



                            <span class="span-text" innerHtml="{{item.description}}"></span>





                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- education -->
        <div class="col-12 sub-box" *ngIf="resumeComponents.education.length >0">
            <div class="border-left">
                <div class="title-icon bg-color"><i class="fas fa-address-card"></i></div>
                <div class="title-box font-color ">Education</div>
                <div class="">
                    <div class="professional-box" *ngFor="let item of resumeComponents.education">
                        <label>{{item.feildOfStudy}}</label>


                        <div class="p-0 col-12 row">

                            <div class="col-6 p-0  c-name">{{item.institutionName}}</div>
                            <div class="col-6 p-0 text-right"><span>{{item.city}},
                                    &nbsp;</span><span>{{item.country}}</span></div>
                            <span class="span-text"><i class="far fa-calendar-alt"></i>
                                &nbsp;{{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
                                {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</span><br>



                            <span class="span-text" innerHtml="{{item.description}}"></span>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Certificates -->
        <div class="col-12 sub-box" *ngIf="resumeComponents.certificates.length >0">
            <div class="border-left">
                <div class="title-icon bg-color"><i class="fas fa-address-card"></i></div>
                <div class="title-box font-color ">Certificates</div>
                <div class="">
                    <div class="professional-box" *ngFor="let item of resumeComponents.certificates">
                        <label>{{item.certificateName}}</label>


                        <div class="p-0 col-12 row">

                            <div class="col-6 p-0  c-name" *ngIf="item.url">Certification URL </div>
                            <div class="col-6 p-0 text-right">{{item.certicateCode}}</div>
                            <span class="span-text"><i class="far fa-calendar-alt"></i>
                                &nbsp;{{item.dateOfCerticate.month+"/"+item.dateOfCerticate.year}}</span><br>
                            <span class="span-text" innerHtml="{{item.description}}"></span>
                        </div>
                    </div>
                </div>


            </div>
        </div>


         <!-- Awards -->
         <div class="col-12 sub-box" *ngIf="resumeComponents.awards.length >0">
            <div class="border-left">
                <div class="title-icon bg-color"><i class="fas fa-address-card"></i></div>
                <div class="title-box font-color ">Awards</div>
                <div class="">
                    <div class="professional-box" *ngFor="let item of resumeComponents.awards">
                        <label>{{item.name}}</label>


                        <div class="p-0 col-12 row">

                            <div class="col-8 p-0  c-name">{{item.url}}</div>
                            <div class="col-4 p-0 text-right">{{item.issuer}}</div>
                            <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.month+"/"+item.year}}</span><br>



                            <span class="span-text" innerHtml="{{item.description}}"></span>





                        </div>
                    </div>
                </div>


            </div>
        </div>



         <!-- Achievements -->
         <div class="col-12 sub-box" *ngIf="resumeComponents.achivements.length >0">
            <div class="border-left">
                <div class="title-icon bg-color"><i class="fas fa-address-card"></i></div>
                <div class="title-box font-color ">Achievements</div>
                <div class="">
                    <div class="professional-box" *ngFor="let item of resumeComponents.achivements">
                        <label>{{item.name}}</label>


                        <div class="p-0 col-12 row">


                            <span class="span-text" innerHtml="{{item.description}}"></span>





                        </div>
                    </div>
                </div>


            </div>
        </div>

          <!-- REFERENCE -->
          <div class="col-12 sub-box" *ngIf="resumeComponents.referances.length >0">
            <div class="border-left">
                <div class="title-icon bg-color"><i class="fas fa-address-card"></i></div>
                <div class="title-box font-color ">REFERENCE</div>
                <div class="">
                    <div class="professional-box" *ngFor="let item of resumeComponents.referances">
                        <label>{{item.personName}}</label>


                        <div class="p-0 col-12 row">

                            <div class="col-12 p-0  c-name">{{item.title}} , {{item.company}} </div>
                            <div class="col-12 p-0  c-name">{{item.mobile}} </div>
                            <div class="col-12 p-0  c-name">{{item.email}} </div>

                            <div class="col-12 p-0  c-name" innerHtml="{{item.description}}"></div>
   
                        </div>
                    </div>
                </div>


            </div>
        </div>

         <!-- Publications -->
         <div class="col-12 sub-box" *ngIf="resumeComponents.publications.length >0">
            <div class="border-left">
                <div class="title-icon bg-color"><i class="fas fa-address-card"></i></div>
                <div class="title-box font-color ">Publications</div>
                <div class="">
                    <div class="professional-box" *ngFor="let item of resumeComponents.publications">



                        <div class="p-0 col-12 row">
                            <div class="col-8 p-0"><label>{{item.title}}</label></div>
                            <div class="col-4 p-0 text-right">{{item.publisher}}</div>
                            <div class="col-8 p-0  c-name">{{item.url}}</div>
                            <!-- <div class="col-4 p-0 text-right">04/2019 - 12/2019</div> -->
                            <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                            <br>
                            <span class="span-text" innerHtml="{{item.description}}"></span>





                        </div>
                    </div>
                </div>


            </div>
        </div>

        

    </div>
</div>

