<div class="main-page">
    <div class="header1">
        <div class="row">
            <div class="col-5">
                <div class="name">marty mcfy</div>

            </div>
            <div class="col-12 bg-color color-1">
                <div class="title">business analyst</div>
            </div>
        </div>
    </div>




    <div class="row">


        <div class="col-8">




            <!-- Experience -->

            <div class="col-12 col-box">
                <div class="title-box font-color bo-color">Experience</div>
                <div class="professional-box">
                    <label>Marketing Campaign Management</label>


                    <div class="p-0 col-12 row">

                        <div class="col-6 p-0  c-name">Company Name</div>
                        <div class="col-6 p-0 text-right">Menia Park,SL</div>
                        <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                            14/12/2019</span><br>



                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>

                <div class="professional-box">
                    <label>software engineer </label>


                    <div class="p-0 col-12 row">

                        <div class="col-6 p-0  c-name">Company Name</div>
                        <div class="col-6 p-0 text-right">Menia Park,US</div>
                        <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                            14/12/2019</span><br>



                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>



            </div>

            <!-- Education -->

            <div class="col-12 col-box">
                <div class="title-box font-color bo-color">Education</div>
                <div class="professional-box">
                    <label>Aeronautics and Aviation Science</label>


                    <div class="p-0 col-12 row">

                        <div class="col-6 p-0  c-name">Institution name</div>
                        <div class="col-6 p-0 text-right">Menia Park,SL</div>
                        <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                            14/12/2019</span><br>



                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>



                <div class="professional-box">
                    <label>Business Administration</label>


                    <div class="p-0 col-12 row">

                        <div class="col-6 p-0  c-name">Institution name</div>
                        <div class="col-6 p-0 text-right">Menia Park,US</div>
                        <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                            14/12/2019</span><br>



                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>



            </div>

            <!-- Certificates -->

            <div class="col-12 col-box">
                <div class="title-box font-color bo-color">Certificates</div>
                <div class="professional-box">
                    <label>certification for project managers</label>


                    <div class="p-0 col-12 row">

                        <div class="col-6 p-0  c-name">Certification URL / Code</div>
                        <div class="col-6 p-0 text-right">Authority</div>
                        <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 -
                            12/2019</span><br>



                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>

                <div class="professional-box">
                    <label>Business Administration</label>


                    <div class="p-0 col-12 row">

                        <div class="col-6 p-0  c-name">Institution name</div>
                        <div class="col-6 p-0 text-right">Menia Park,US</div>
                        <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                            14/12/2019</span><br>



                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>



            </div>

            <div class="col-12 col-box">
                <div class="title-box font-color bo-color">Awards</div>
                <div class="professional-box">
                    <label>Awards Name</label>


                    <div class="p-0 col-12 row">

                        <div class="col-8 p-0  c-name">URL to award</div>
                        <div class="col-4 p-0 text-right">Issuer</div>
                        <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 -
                            12/2019</span><br>



                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>
            </div>

        </div>
        <div class="col-4 header">

            <div class="col-12">
                <div class="title-box font-color bo-color">Personal Details</div>
                <ul class="user-details">
                    <li><span><i class="fa fa-phone"></i>&nbsp;&nbsp;+94758627689</span></li>
                    <li><span><i class="fa fa-envelope"></i>&nbsp;&nbsp;lojan@gmail.com</span></li>
                    <li><span><i class="fa fa-map-marker"></i>&nbsp;&nbsp;29 Deal Pl, Colombo,SL</span></li>

                </ul>
            </div>

            <div class="col-12">
                <div class="title-box font-color bo-color">Summery</div>
                <p style="text-align: justify;">Enterprising marketing professional skilled at marketing,
                    communications, branding, campaign
                    management, and campaign analysis. Over a career of 2+ years, gained exposure to and executed
                    multiple marketing initiatives. Adept at launching marketing campaigns resulting in significant
                    sales and user acquisition. Skilled at analysing & improving the performance of campaigns
                    through
                    data analysis and competitive benchmarking.
                </p>
            </div>
            <div class="col-12">
                <div class="title-box font-color ">Personal Skills</div>

                <span class="key-skills-box ">Marketing Campaigns</span>
                <span class="key-skills-box ">Campaign Analysis</span>
                <span class=" key-skills-box ">Corporate Communications</span>
                <span class=" key-skills-box">User Growth</span>
                <span class="key-skills-box">Key Metric Analysis</span>

            </div>
            <div class="col-12">
                <div class="title-box font-color">TECHNICAL SKILLS</div>
                <span class="key-skills-box ">Python</span>
                <span class="key-skills-box ">Java</span>
                <span class=" key-skills-box ">Nodejs</span>
                <span class=" key-skills-box">JavaScript</span>
                <span class="key-skills-box">Codeigniter</span>

            </div>
        </div>
    </div>

</div>

<!-- Page 2 -->
<div class="main-page">




    <div class="row">


        <div class="col-8">

            <!-- Awards -->

            <div class="col-12 col-box">


                <div class="professional-box">
                    <label>Business Administration</label>


                    <div class="p-0 col-12 row">

                        <div class="col-6 p-0  c-name">Institution name</div>
                        <div class="col-6 p-0 text-right">Menia Park,US</div>
                        <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                            14/12/2019</span><br>



                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>



            </div>
            <!-- Awards -->

            <div class="col-12 col-box">
                <div class="title-box font-color bo-color">Achievements</div>
                <div class="professional-box">
                    <label>Achievements Name</label>


                    <div class="p-0 col-12 row">




                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>

                <div class="professional-box">
                    <label>Achievements2 Name</label>


                    <div class="p-0 col-12 row">





                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>



            </div>

            <!-- Awards -->

            <div class="col-12 col-box">
                <div class="title-box font-color bo-color">Reference</div>

                <div class="professional-box">
                    <label>Person Name</label>


                    <div class="p-0 col-12 row">

                        <div class="col-12 p-0  c-name">Job Title , Company Name </div>
                        <div class="col-12 p-0  c-name">0758907689 </div>
                        <div class="col-12 p-0  c-name">abc@gmail.com </div>
                    </div>
                </div>

                <div class="professional-box">
                    <label>Person2 Name</label>


                    <div class="p-0 col-12 row">

                        <div class="col-12 p-0  c-name">Job Title , Company Name </div>
                        <div class="col-12 p-0  c-name">0758907689 </div>
                        <div class="col-12 p-0  c-name">abc@gmail.com </div>
                    </div>
                </div>



            </div>
            <!-- Publications-->

            <div class="col-12 col-box">
                <div class="title-box font-color bo-color">Publications</div>
                <div class="professional-box">



                    <div class="p-0 col-12 row">
                        <div class="col-8 p-0"><label>Publications Book Name</label></div>
                        <div class="col-4 p-0 text-right">Publisher</div>
                        <div class="col-8 p-0  c-name">Publications URL/ISBN</div>
                        <div class="col-4 p-0 text-right">04/2019 - 12/2019</div>
                        <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                        <br>
                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>

                <div class="professional-box">



                    <div class="p-0 col-12 row">
                        <div class="col-8 p-0"><label>Publications Book2 Name</label></div>
                        <div class="col-4 p-0 text-right">Publisher</div>
                        <div class="col-8 p-0  c-name">Publications URL/ISBN</div>
                        <div class="col-4 p-0 text-right">04/2019 - 12/2019</div>
                        <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                        <br>
                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>
            </div>



        </div>
        <div class="col-4 header"></div>

    </div>



    <div class="row">

    </div>
</div>