



   <!-- <div class="main-page" #tasknote>
        <div class="header">
            <div class="row">
                <div class="col-4 bg-color">
                    <div class="user-img">
                        <img src="images/images.jpg" alt="">
                    </div>
                    <div class="name">marty mcfy</div>
                    <div class="title">business analyst</div>
                </div>
                <div class="col-8">
                    <div class="title-box">SUMMARY</div>
                    <p>{{__resume.personal.description}}
                    </p>
                </div>
                <div class="col-12 address">
                    <span><i class="fas fa-phone-square-alt"></i>&nbsp;+94758627689</span>
                    <span><i class="fas fa-envelope-square"></i>&nbsp;lojan@gmail.com</span>
                    <span><i class="fas fa-home"></i>&nbsp;lojan@gmail.com</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 sub-box">


            </div>
        </div>

        <div class="row">
            <div class="col-12 sub-box section">
                <div class="border-b">
                    <div class="title-box">Key Skills</div>

                    <span class="key-skills-box" *ngFor="let item of __resume.skills">{{item.category }}</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 sub-box">
                <div class="border-b">
                    <div class="title-box">professional experience</div>
                    <div class="in-box">
                            <div class="title-sub">Checkered Inc</div>


                            <div class="p-0 col-12 row">

                                <div class="col-6 p-0 bold">Bussiness Analyst</div>
                                <div class="col-6 p-0 text-right">Menia Park,US</div>


                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;Jul 14 - Present</span><br>
                                <label class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</label>

                                <ul style="margin: 0;">
                                    <li class="span-text">Worked with the CMO of the company & created digital marketing
                                        strategy
                                        which resulted in 60% increased following</li>

                                </ul>
                                <div class="professional-box">
                                    <label>Marketing Campaign Management</label>
                                    <ul style="margin: 0;">
                                        <li class="span-text">Supported 50+ clients on multiple campaign projects</li>
                                        <li class="span-text">Responsible for winning back 30+ clients by delivering exceptional
                                            results in the campaigns</li>
                                        <li class="span-text">Managed the entire spectrum of clients ranging from small to key
                                            accounts resulting in 10% increase in revenue</li>
                                    </ul>
                                </div>
                                <div class="professional-box">
                                    <label>Campaign Performance Analysis</label>
                                    <ul style="margin: 0;">
                                        <li class="span-text">Conducted in depth analysis of the market & client specific data
                                            to
                                            improve the campaign performance</li>
                                        <li class="span-text">Increased traffic on the site by 60% by analyzing multiple metrics
                                            such as page views, ad impressions etc.</li>
                                        <li class="span-text">Led the competitor benchmarking exercise for 7 key accounts to
                                            assist
                                            them in improving their overall performance</li>
                                    </ul>
                                </div>




                            </div>
                    </div>

                </div>

            </div>

            <div class="col-12 sub-box section" >
                <div class="border-b">
                    <div class="title-box">INTERNSHIPS</div>
                    <div class="in-box">
                    <div class="title-sub">M&N</div>


                    <div class="p-0 col-12 row">

                        <div class="col-6 p-0 bold">Marketing Intern</div>
                        <div class="col-6 p-0 text-right">Menia Park,US</div>


                        <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;Jul 14 - Present</span><br>
                        <label class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</label>

                        <ul style="margin: 0;">
                            <li class="span-text">Worked with the CMO of the company & created digital marketing
                                strategy
                                which resulted in 60% increased following</li>

                        </ul>
                        <div class="professional-box">
                            <label>Marketing Campaign Management</label>
                            <ul style="margin: 0;">
                                <li class="span-text">Supported 50+ clients on multiple campaign projects</li>
                                <li class="span-text">Responsible for winning back 30+ clients by delivering exceptional
                                    results in the campaigns</li>
                                <li class="span-text">Managed the entire spectrum of clients ranging from small to key
                                    accounts resulting in 10% increase in revenue</li>
                            </ul>
                        </div>
                        <div class="professional-box">
                            <label>Campaign Performance Analysis</label>
                            <ul style="margin: 0;">
                                <li class="span-text">Conducted in depth analysis of the market & client specific data
                                    to
                                    improve the campaign performance</li>
                                <li class="span-text">Increased traffic on the site by 60% by analyzing multiple metrics
                                    such as page views, ad impressions etc.</li>
                                <li class="span-text">Led the competitor benchmarking exercise for 7 key accounts to
                                    assist
                                    them in improving their overall performance</li>
                            </ul>
                        </div>




                    </div>
</div>
                </div>
            </div>
        </div>
    </div> -->



    


    <div class="main-page"> 


        <div class="row">


            <div class="col-8">
                     <!-- Experience -->

                     <div class="col-12 col-box">
                        <div class="title-box font-color bo-color">Experience</div>
                        <div class="professional-box">
                            <label>Marketing Campaign Management</label>
    
    
                            <div class="p-0 col-12 row">
    
                                <div class="col-6 p-0  c-name">Company Name</div>
                                <div class="col-6 p-0 text-right">Menia Park,SL</div>
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                    14/12/2019</span><br>
    
    
    
                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>
    
    
    
    
    
                            </div>
                        </div>
    
                        <div class="professional-box">
                            <label>software engineer </label>
    
    
                            <div class="p-0 col-12 row">
    
                                <div class="col-6 p-0  c-name">Company Name</div>
                                <div class="col-6 p-0 text-right">Menia Park,US</div>
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                    14/12/2019</span><br>
    
    
    
                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>
    
    
    
    
    
                            </div>
                        </div>
    
    
    
                    </div>
    
                    <!-- Education -->
    
                    <div class="col-12 col-box">
                        <div class="title-box font-color bo-color">Education</div>
                        <div class="professional-box">
                            <label>Aeronautics and Aviation Science</label>
    
    
                            <div class="p-0 col-12 row">
    
                                <div class="col-6 p-0  c-name">Institution name</div>
                                <div class="col-6 p-0 text-right">Menia Park,SL</div>
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                    14/12/2019</span><br>
    
    
    
                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>
    
    
    
    
    
                            </div>
                        </div>
    
    
    
                        <div class="professional-box">
                            <label>Business Administration</label>
    
    
                            <div class="p-0 col-12 row">
    
                                <div class="col-6 p-0  c-name">Institution name</div>
                                <div class="col-6 p-0 text-right">Menia Park,US</div>
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                    14/12/2019</span><br>
    
    
    
                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>
    
    
    
    
    
                            </div>
                        </div>
    
    
    
                    </div>
    
                    <!-- Certificates -->
    
                    <div class="col-12 col-box">
                        <div class="title-box font-color bo-color">Certificates</div>
                        <div class="professional-box">
                            <label>certification for project managers</label>
    
    
                            <div class="p-0 col-12 row">
    
                                <div class="col-6 p-0  c-name">Certification URL / Code</div>
                                <div class="col-6 p-0 text-right">Authority</div>
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 -
                                    12/2019</span><br>
    
    
    
                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>
    
    
    
    
    
                            </div>
                        </div>
    
                        <div class="professional-box">
                            <label>Business Administration</label>
    
    
                            <div class="p-0 col-12 row">
    
                                <div class="col-6 p-0  c-name">Institution name</div>
                                <div class="col-6 p-0 text-right">Menia Park,US</div>
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                    14/12/2019</span><br>
    
    
    
                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>
    
    
    
    
    
                            </div>
                        </div>
    
    
    
                    </div>
    
                    <div class="col-12 col-box">
                        <div class="title-box font-color bo-color">Awards</div>
                        <div class="professional-box">
                            <label>Awards Name</label>
    
    
                            <div class="p-0 col-12 row">
    
                                <div class="col-8 p-0  c-name">URL to award</div>
                                <div class="col-4 p-0 text-right">Issuer</div>
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 -
                                    12/2019</span><br>
    
    
    
                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>
    
    
    
    
    
                            </div>
                        </div>
                        </div>
            </div>




            <div class="col-4 header">
                <div class="col-12">
                    <div class="border-box border-color">
                        <div class="user-img">
                            <img src="images/images.jpg" alt="">
                        </div>
                        <div class="name">marty mcfy</div>
                        <div class="title">business analyst</div>
                    </div>
                    <div class="border-box border-color">
                        <ul class="user-details">
                            <li><span><i class="fa fa-phone call-icon"></i>&nbsp;&nbsp;+94758627689</span></li>
                            <li><span><i class="fa fa-envelope mail-icon"></i>&nbsp;&nbsp;lojan@gmail.com</span></li>
                            <li><span><i class="fa fa-map-marker location-icon"></i>&nbsp;&nbsp;lojan@gmail.com</span>
                            </li>

                        </ul>
                    </div>


                </div>


                <div class="col-12">
                    <div class="title-box title-color border-color">Summery</div>
                    <p style="text-align: justify;">Enterprising marketing professional skilled at marketing,
                        communications, branding, campaign
                        management, and campaign analysis. Over a career of 2+ years, gained exposure to and executed
                        multiple marketing initiatives. Adept at launching marketing campaigns resulting in significant
                        sales and user acquisition. Skilled at analysing & improving the performance of campaigns
                        through
                        data analysis and competitive benchmarking.
                    </p>
                </div>
                <div class="col-12">
                    <div class="title-box title-color border-color">Key Skills</div>

                    <span class="key-skills-box box-color">Marketing Campaigns</span>
                    <span class="key-skills-box box-color">Campaign Analysis</span>
                    <span class="key-skills-box box-color">Corporate Communications</span>
                    <span class="key-skills-box box-color">User Growth</span>
                    <span class="key-skills-box box-color">Key Metric Analysis</span>

                </div>
                <div class="col-12">
                    <div class="title-box title-color border-color">TECHNICAL SKILLS</div>
                    <ul class="technical-skills">
                        <li>Languages<span>: Python, Java, Nodejs, HTML, CSS, JavaScript</span></li>
                        <li>Frameworks<span>: Codeigniter, YII, Drupal, Spring, Flask</span></li>
                        <li>OS<span>: Windows, Linux</span></li>

                    </ul>
                </div>
            </div>
        </div>


    </div>


    <!-- Page 2 -->
    <div class="main-page">




        <div class="row">


            <div class="col-8">
           
                <!-- Awards -->

                <div class="col-12 col-box">
                 

                    <div class="professional-box">
                        <label>Business Administration</label>


                        <div class="p-0 col-12 row">

                            <div class="col-6 p-0  c-name">Institution name</div>
                            <div class="col-6 p-0 text-right">Menia Park,US</div>
                            <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                14/12/2019</span><br>



                            <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                across
                                North America and has revenues of $ 10+ mn. per year</span>





                        </div>
                    </div>



                </div>
                <!-- Achievements -->

                <div class="col-12 col-box">
                    <div class="title-box font-color bo-color">Achievements</div>
                    <div class="professional-box">
                        <label>Achievements Name</label>


                        <div class="p-0 col-12 row">




                            <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                across
                                North America and has revenues of $ 10+ mn. per year</span>





                        </div>
                    </div>

                    <div class="professional-box">
                        <label>Achievements2 Name</label>


                        <div class="p-0 col-12 row">





                            <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                across
                                North America and has revenues of $ 10+ mn. per year</span>





                        </div>
                    </div>



                </div>

                <!-- Reference -->

                <div class="col-12 col-box">
                    <div class="title-box font-color bo-color">Reference</div>

                    <div class="professional-box">
                        <label>Person Name</label>


                        <div class="p-0 col-12 row">

                            <div class="col-12 p-0  c-name">Job Title , Company Name </div>
                            <div class="col-12 p-0  c-name">0758907689 </div>
                            <div class="col-12 p-0  c-name">abc@gmail.com </div>
                        </div>
                    </div>

                    <div class="professional-box">
                        <label>Person2 Name</label>


                        <div class="p-0 col-12 row">

                            <div class="col-12 p-0  c-name">Job Title , Company Name </div>
                            <div class="col-12 p-0  c-name">0758907689 </div>
                            <div class="col-12 p-0  c-name">abc@gmail.com </div>
                        </div>
                    </div>



                </div>

   

                  <!-- Publications-->

                  <div class="col-12 col-box">
                    <div class="title-box font-color bo-color">Publications</div>
                    <div class="professional-box">
                        


                        <div class="p-0 col-12 row">
                            <div class="col-8 p-0"><label>Publications Book Name</label></div>
                            <div class="col-4 p-0 text-right">Publisher</div>
                            <div class="col-8 p-0  c-name">Publications URL/ISBN</div>
                            <div class="col-4 p-0 text-right">04/2019 - 12/2019</div>
                            <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                            <br>
                            <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                across
                                North America and has revenues of $ 10+ mn. per year</span>





                        </div>
                    </div>

                    <div class="professional-box">
                        


                        <div class="p-0 col-12 row">
                            <div class="col-8 p-0"><label>Publications Book2 Name</label></div>
                            <div class="col-4 p-0 text-right">Publisher</div>
                            <div class="col-8 p-0  c-name">Publications URL/ISBN</div>
                            <div class="col-4 p-0 text-right">04/2019 - 12/2019</div>
                            <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                            <br>
                            <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                across
                                North America and has revenues of $ 10+ mn. per year</span>





                        </div>
                    </div>
                    </div>



            </div>
            <div class="col-4 header"></div>

        </div>



        <div class="row">

        </div>
    </div>