
<div  #pages>
  <div class="main-page" #tasknote>


    <div class="row">


      <div class="col-8">
        <!-- Experience -->

        <div class="col-12 col-box section" >
          <div class="title-box font-color bo-color" *ngIf="  __resume.workExperiance.length>0">Experience</div>
          <div class="professional-box" *ngFor="let item of __resume.workExperiance">
            <label>{{item.jobTitle}}</label>


            <div class="p-0 col-12 row">

              <div class="col-6 p-0  c-name">Company Name</div>
              <div class="col-6 p-0 text-right">{{item.companyName}}</div>
              <span class="span-text"><i class="far fa-calendar-alt"></i>
                &nbsp;{{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
                {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}} </span><br>



              <span class="span-text">{{item.description}}</span>





            </div>
          </div>


        </div>
        <!-- Education -->

        <div class="col-12 col-box section">
          <div class="title-box font-color bo-color" *ngIf="__resume.education.length >0">Education</div>
          <div class="professional-box" *ngFor="let item of __resume.education">
            <label>{{item.fieldOfStuday}}</label>


            <div class="p-0 col-12 row">

              <div class="col-6 p-0  c-name">{{item.instituation}}</div>
              <div class="col-6 p-0 text-right"><span>{{item.city}}, &nbsp;</span><span>{{item.country}}</span></div>
              <span class="span-text"><i
                  class="far fa-calendar-alt"></i>&nbsp;{{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
                {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</span><br>
              <span class="span-text">{{item.description}}</span>

            </div>
          </div>
        </div>

        <!-- Certificates -->

        <div class="col-12 col-box section">
          <div class="title-box font-color bo-color" *ngIf=" __resume.certificates.length>0">Certificates</div>
          <div class="professional-box" *ngFor="let item of __resume.certificates">
            <label>{{item.certificateName}}</label>


            <div class="p-0 col-12 row">

              <div class="col-6 p-0  c-name" *ngIf="item.url">Certification URL </div>
              <div class="col-6 p-0 text-right" *ngIf="item.url">{{item.url}}</div>
              <div class="col-6 p-0  c-name">Certification Code</div>
              <div class="col-6 p-0 text-right">{{item.certicateCode}}</div>
              <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;
                {{item.dateOfCerticate.month+"/"+item.dateOfCerticate.year}}</span><br>
              <span class="span-text">{{item.description}}</span>
            </div>
          </div>

        </div>

        <div class="col-12 col-box section">
          <div class="title-box font-color bo-color" *ngIf="__resume.awards.length>0">Awards</div>
          <div class="professional-box" *ngFor="let item of __resume.awards">
            <label>{{item.name}}</label>


            <div class="p-0 col-12 row">

              <div class="col-8 p-0  c-name">URL to award</div>
              <div class="col-4 p-0 text-right">{{item.url}}</div>
              <div class="col-8 p-0  c-name">Issuer</div>
              <div class="col-4 p-0 text-right">{{item.issuer}}</div>
              <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.month+"/"+item.year}}</span><br>



              <span class="span-text">{{item.description}}</span>





            </div>
          </div>
        </div>

        <div class="col-12 col-box section" >
          <div class="title-box font-color bo-color" *ngIf=" __resume.achivements.length > 0">Achievements</div>
          <div class="professional-box" *ngFor="let item of __resume.achivements">
            <label>{{item.name}}</label>
            <div class="p-0 col-12 row">
              <span class="span-text">{{item.description}}</span>
            </div>
          </div>
        </div>


        <div class="col-12 col-box section" *ngIf="__resume.publications.length >  0">
          <div class="title-box font-color bo-color">Publications</div>
          <div class="professional-box" *ngFor="let item of __resume.publications">
            <div class="p-0 col-12 row">
              <div class="col-8 p-0"><label>{{item.title}}</label></div>
              <div class="col-4 p-0 text-right">{{item.publisher}}</div>
              <div class="col-8 p-0  c-name">{{item.url}}</div>
              <div class="col-4 p-0 text-right">{{item.date.month+'-'+item.date.year}}</div>
              <br>
              <span class="span-text">{{item.description}}</span>
            </div>
          </div>
        </div>


        <div class="col-12 col-box section">
          <div class="title-box font-color bo-color" *ngIf="__resume.referances.length > 0">Reference</div>
          <div class="professional-box" *ngFor="let item of __resume.referances">
            <label>{{item.personName}}</label>
            <div class="p-0 col-12 row">
              <div class="col-12 p-0 ">{{item.title}}</div>
              <div class="col-12 p-0  c-name">{{item.company}}</div>
              <div class="col-12 p-0  c-name">{{item.mobile}}</div>
              <div class="col-12 p-0  c-name">{{item.email}}</div>
              <div class="col-12 p-0  c-name">{{item.description}}</div>
            </div>
          </div>
        </div>
      </div>




      <div class="col-4 header">
        <div class="col-12">
          <div class="border-box border-color">
            <div class="user-img">
              <img src="assets/images/headshot.jpg" alt="">
            </div>
            <div class="name">{{__resume.personal.firstName}}</div>
            <div class="title">{{__resume.workExperiance[__resume.workExperiance.length-1].jobTitle}}</div>
          </div>
          <div class="border-box border-color">
            <ul class="user-details">
              <li><span><i class="fa fa-phone call-icon"></i>&nbsp;&nbsp;{{__resume.personal.mobileNumber}}</span></li>
              <li><span><i class="fa fa-phone call-icon"></i>&nbsp;&nbsp;{{__resume.personal.phoneNumber}}</span></li>
              <li><span><i class="fa fa-envelope mail-icon"></i>&nbsp;&nbsp;{{__resume.personal.email}}</span></li>
              <li><span><i class="fa fa-map-marker location-icon"></i>&nbsp;&nbsp;{{__resume.personal.address.street}},
                  {{__resume.personal.address.city}} {{__resume.personal.address.country}}</span>
              </li>

            </ul>
          </div>


        </div>


        <div class="col-12">
          <div class="title-box title-color border-color">Summery</div>
          <p style="text-align: justify;">{{__resume.personal.description}}
          </p>
        </div>
        <div class="col-12">
          <div class="title-box title-color border-color">Strengths</div>

          <span class="key-skills-box box-color" *ngFor="let item of __resume.skills">{{item.category}}</span>


        </div>
        <div class="col-12">
          <div class="title-box title-color border-color">TECHNICAL SKILLS</div>
          <ul class="technical-skills">
            <li *ngFor="let item of __resume.skills"><span>{{item.category}}</span></li>


          </ul>
        </div>
      </div>




    </div>


  </div>


  <!-- Page 2 -->
  <div class="main-page page2" *ngIf="page2Flag" >
    <div class="row" >
      <div class="col-12"  #page2>

      </div>
    </div>
  </div>

  </div>
