 <!-- Page 1 -->
 <div class="main-page">
    <div class="row row-hight">
        <div class="col-12">
            <div class="row name-tag color-1 ">
                <div class="name-sub-box">
                    <div class="user-img">
            
                        <img src="https://www.cricbuzz.com/stats/img/faceImages/508.jpg" alt="">
                    </div>
                    <div class="name-main">
                        <label for="" class="color-3">Jonathan Simth</label>
                        <span>
                            web Developer
                    
                        </span>
                        <div class="contact-details-box">
                            <span><i class="fa fa-phone color-2"></i>&nbsp;&nbsp;+94758627689</span>
                            <span><i class="fa fa-envelope color-2"></i>&nbsp;&nbsp;lojan@gmail.com</span>
                            <span><i class="fa fa-map-marker color-2"></i>&nbsp;&nbsp;29 Deal Pl, Colombo,SL</span>
          
                           </div>
                    </div>
                 
                </div>
               
                
            </div>
        </div>
    <div class="col-8 margin-top">
       
        <div class="col-12 col-box">
            <div class="title-box font-color color-3"><i class="fa fa-phone name-icon color-2"></i>Experience</div>
            <div class="professional-box">
                <label>Marketing Campaign Management</label>


                <div class="p-0 col-12 row">

                    <div class="col-6 p-0  c-name">Company Name</div>
                    <div class="col-6 p-0 text-right">Menia Park,SL</div>
                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                        14/12/2019</span><br>



                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                        across
                        North America and has revenues of $ 10+ mn. per year</span>





                </div>
            </div>

            <div class="professional-box">
                <label>software engineer </label>


                <div class="p-0 col-12 row">

                    <div class="col-6 p-0  c-name">Company Name</div>
                    <div class="col-6 p-0 text-right">Menia Park,US</div>
                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                        14/12/2019</span><br>



                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                        across
                        North America and has revenues of $ 10+ mn. per year</span>





                </div>
            </div>



        </div>

        <div class="col-12 col-box">
            <div class="title-box font-color color-3"><i class="fa fa-phone name-icon color-2"></i>EDUCATION</div>
            <div class="professional-box">
                <label>Aeronautics And Aviation Science</label>


                <div class="p-0 col-12 row">

                    <div class="col-6 p-0  c-name">Company Name</div>
                    <div class="col-6 p-0 text-right">Menia Park,SL</div>
                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                        14/12/2019</span><br>



                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                        across
                        North America and has revenues of $ 10+ mn. per year</span>





                </div>
            </div>

            <div class="professional-box">
                <label>Business Administration</label>


                <div class="p-0 col-12 row">

                    <div class="col-6 p-0  c-name">Company Name</div>
                    <div class="col-6 p-0 text-right">Menia Park,US</div>
                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                        14/12/2019</span><br>



                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                        across
                        North America and has revenues of $ 10+ mn. per year</span>





                </div>
            </div>



        </div>

        <div class="col-12 col-box">
            <div class="title-box font-color color-3"><i class="fa fa-phone name-icon color-2"></i>CERTIFICATES</div>
            <div class="professional-box">
                <label>Certification For Project Managers</label>


                <div class="p-0 col-12 row">

                    <div class="col-6 p-0  c-name">Company Name</div>
                    <div class="col-6 p-0 text-right">Menia Park,SL</div>
                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                        14/12/2019</span><br>



                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                        across
                        North America and has revenues of $ 10+ mn. per year</span>





                </div>
            </div>

            <div class="professional-box">
                <label>Business Administration</label>


                <div class="p-0 col-12 row">

                    <div class="col-6 p-0  c-name">Company Name</div>
                    <div class="col-6 p-0 text-right">Menia Park,US</div>
                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                        14/12/2019</span><br>



                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                        across
                        North America and has revenues of $ 10+ mn. per year</span>





                </div>
            </div>



        </div>

       
    </div>
    
        <div class="col-4 ">
            
       

            <div class="col-12 prsonal-box">
             
                <div class="title-box font-color ">Summery</div>
                <p style="text-align: justify;">Enterprising marketing professional skilled at marketing,
                    communications, branding, campaign
                    management, and campaign analysis. Over a career of 2+ years, gained exposure to and executed
                    multiple marketing initiatives. Adept at launching marketing campaigns resulting in significant
                    sales and user acquisition. Skilled at analysing & improving the performance of campaigns
                    through
                    data analysis and competitive benchmarking.
                </p>
            </div>

            <div class="col-12 prsonal-box">
                <div class="title-box font-color ">KEY SKILLS</div>
                <span class="key-skills-box color-4">Marketing Campaigns</span>
                <span class="key-skills-box color-4">Campaign Analysis</span>
                <span class="key-skills-box color-4">Corporate Communications</span>
                <span class="key-skills-box color-4">User Growth</span>
                <span class="key-skills-box color-4">Key Metric Analysis</span>
            </div>

            <div class="col-12 prsonal-box">
                <div class="title-box font-color color-2">ECHNICAL SKILLS</div>
                <span class="key-skills-box color-4">Marketing Campaigns</span>
                <span class="key-skills-box color-4">Campaign Analysis</span>
                <span class="key-skills-box color-4">Corporate Communications</span>
                <span class="key-skills-box color-4">User Growth</span>
                <span class="key-skills-box color-4">Key Metric Analysis</span>
            </div>
       
            

    </div>
</div>
</div>

 <!-- Page 2 -->
 <div class="main-page">
    <div class="row row-hight">
        <div class="col-8 margin-top">
            <div class="col-12 col-box">
                <div class="title-box font-color color-3"><i class="fa fa-phone name-icon color-2"></i>AWARDS</div>
                <div class="professional-box">
                    <label>Awards Name</label>


                    <div class="p-0 col-12 row">

                        <div class="col-6 p-0  c-name">Company Name</div>
                        <div class="col-6 p-0 text-right">Menia Park,SL</div>
                        <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                            14/12/2019</span><br>



                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>




            </div>
       

            <div class="col-12 col-box">
                <div class="title-box font-color color-3"><i class="fa fa-phone name-icon color-2"></i>ACHIEVEMENTS</div>
                <div class="professional-box">
                    <label>ACHIEVEMENTS</label>

                    <div class="p-0 col-12 row">




                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>

                <div class="professional-box">
                    <label>ACHIEVEMENTS</label>

                    <div class="p-0 col-12 row">




                        <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                            across
                            North America and has revenues of $ 10+ mn. per year</span>





                    </div>
                </div>


            </div>


        </div>
        <div class="col-4 "></div>
      
    </div>
    </div>