<div class="editor__group" id="award">
  <aside class="editor__group-sidebar">
    <div class="editor__group-title">
      <i class="fas fa-chart-bar"></i>
      <p class="paragraph--big u-color-gray-alt-14 u-weight-smb">Awards</p>
    </div>
    <ul class="editor__group-list" data-sortable data-skills-list>
      <li class="editor__group-item editor__group-item--active" [ngClass]="{active: selected==i}" data-skills-list-item
        *ngFor="let item of resumeService.resumeComponents.awards;index as i" (click)="selectedItem(i)">
        <div class="editor__group-item-label">
          <i class="fas fa-bars"></i>
          <p class="paragraph--med u-weight-smb">{{resumeService.resumeComponents.awards[i].name}}</p>
        </div>
        <i class="fas fa-times editor__group-item-delete" data-skills-delete (click)="removeAward(i)"></i>
      </li>
    </ul>
    <div class="editor__group-sidebar-btn">
      <button class="btn btn--auto btn--primary-alt btn--no-shadow btn--full btn--accent" (click)="addAward()"
        data-skills-side-btn>
        <p class="btn__label paragraph--med"><i class="fas fa-plus btn__icon"></i> Add
          New</p>
      </button>
    </div>
  </aside>
  <div class="editor__group-main">
    <div class="row">
      <div class="col-12 editor__group-main-form" data-skills-form>
        <div class="row editor__skills-row" data-skills-form-items>
          <div class="col-12 col-lg-6">
            <div class="editor__group-main-wrapper">

              <input type="text" [(ngModel)]="resumeService.resumeComponents.awards[selected].name" data-skills-category
                required>
              <label>Award Name {{resumeService.resumeComponents.awards.length}}</label>
            </div>

          </div>
          <div class="col-12 col-lg-6">

            <div class="editor__group-main-wrapper">

              <input type="text" data-skills-category
                [(ngModel)]="resumeService.resumeComponents.awards[selected].issuer" required>
              <label>Issuer</label>
            </div>
          </div>

          <div class="col-12" data-skills-item>
            <div class="editor__skills">
              <div class="row editor__skills-row">
                <div class="col-12 ">
                  <div class="editor__group-main-wrapper">

                    <input type="text" required data-skills-name
                      [(ngModel)]="resumeService.resumeComponents.awards[selected].url">
                    <label>URL to award</label>
                  </div>
                </div>

              </div>

            </div>
          </div>


          <div class="col-12" data-skills-item>
            <label>Date of award</label>
            <div class="editor__skills">
              <div class="row editor__skills-row">
                <div class="col-12 col-lg-4">
                  <div class="editor__group-main-wrapper">

                    <select required data-skills-level
                      [(ngModel)]="resumeService.resumeComponents.awards[selected].month">
                      <option value="" disabled selected hidden>Month</option>
                      <option [ngValue]="item" *ngFor="let item of months;let i = index">{{item}}</option>

                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="editor__group-main-wrapper">

                    <select required data-skills-level
                      [(ngModel)]="resumeService.resumeComponents.awards[selected].year">
                      <option value="" disabled selected hidden>Year</option>
                      <option [ngValue]="1990+i" *ngFor="let item of [].constructor(50);let i = index">{{1990+i}}
                      </option>

                    </select>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-12" data-skills-item>






            <label>Description</label>

            <ckeditor [editor]="Editor" data=""></ckeditor>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12 text-right">
      <span class="edit-box-delete-icon">
        <i class="fas fa-trash editor__group-item-delete"></i>
      </span>
    </div>
  </div>

</div>
