<div class="" #hawking>
<!-- <app-header></app-header> -->
<div class="color-main-box">
    <span style="font-size: 14px;">Select theme </span>

    <div class="color-box color-ccc" (click)="onChangeColorHex8('#004d6b','#fff')">

    </div>
    <div class="tem-img-1 tem-img"><img src="../../../../../assets/images/temp/temp1.png" alt="" class="tem-img-hov ccc-temp">
    </div>
    <div class="tem-img-2 tem-img"><img src="../../../../../assets/images/temp/tem-2.PNG" alt="" class="tem-img-hov ccc-temp"></div>
    <div class="color-box color-1f3471" (click)="onChangeColorHex8('#1f3471','#fff')">

    </div>
    <div class="color-box color-323232" (click)="onChangeColorHex8('#323232','#fff')">

    </div>
    <div class="color-box color-0070c0" (click)="onChangeColorHex8('#0070c0','#fff')">

    </div>
    <div class="color-box color-7d1914" (click)="onChangeColorHex8('#7d1914','#fff')">

    </div>
    <div class=" color-box color-2c3e50" (click)="onChangeColorHex8('#2c3e50','#fff')"></div>
   <div class="color-box color-00b7ea" (click)="onChangeColorHex8('#00b7ea','#fff')"></div>
   <div class="color-box   color-f20043" (click)="onChangeColorHex8('#f20043','#fff')"></div>
   <div class="color-box   color-44556f" (click)="onChangeColorHex8('#44556f','#fff')"></div>

   


      <!-- <input type="text" class="form-control"  [(colorPicker)]="color2"
   [cpPresetColors]="['#7B1FA2', '#039BE5', '#FF5252', '#D32F2F', '#283593']"
   [cpPosition]="'right'"
   [style.background]="color2"
   [cpAlphaChannel]="'always'"
   [cpOutputFormat]="'hex'"
   [value]="color2"
   (colorPickerChange)="rgbaText=onChangeColorHex8($event)";
   > -->
</div>

    <main class="preview" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="preview__wrapper">
<!-- <app-temp-three></app-temp-three> -->




<router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>