<header>
    <nav class="navbar navbar-expand-lg navbar-light ">

            <label class="show-menu-btn" for="show-slide" id="menu-icon"><i class="fas fa-bars"></i></label>

 <a class="navbar-brand nav-logo" href="#"><img src="https://s3-ap-southeast-1.amazonaws.com/static.resume.lk/images/resume_lk_logo_White.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav  ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  (click)="routeToPreview()" >Preview</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

        </div>
    </nav>
</header>
