   
   <div class="" #newton>
   <div class="main-page section" #tasknote >
        <div class="header color-1">
            <div class="row">
                <div class="col-4 bg-color">
                    <div class="user-img">
                        <img src="images/images.jpg" alt="">
                    </div>
                    <div class="name">{{__resume.personal.firstName}} {{__resume.personal.lastName}}</div>
                    <div class="title">{{__resume.workExperiance[0].jobTitle}}</div>
                </div>
                <div class="col-8">
                    <div class="title-box">SUMMARY</div>
                    <p>{{__resume.personal.description}}
                    </p>
                </div>
                <div class="col-12 address">
                    <span><i class="fas fa-phone-square-alt"></i>&nbsp;{{__resume.personal.phoneNumber}}</span>
                    <span><i class="fas fa-envelope-square"></i>&nbsp;{{__resume.personal.email}}</span>
                    <span><i class="fas fa-home"></i>&nbsp;{{__resume.personal.address.street}},
                        {{__resume.personal.address.city}} {{__resume.personal.address.country}}</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 sub-box">


            </div>
        </div>

        <div class="row">
            <div class="col-12 sub-box">
                <div class="border-b">
                    <div class="title-box">Skills</div>
                    <div class="pl-1" *ngFor="let skills of __resume.skills">
                        <span class="skill-sub-title">{{skills.skillCategoryName}}</span>
                        <span class="key-skills-box" *ngFor="let skill of skills.skillNames">
                            {{skill.skillName}}
                        </span>
                    </div>
                </div>
               
            </div>
        </div>

        <div class="row">
            <div class="col-12 sub-box" *ngIf="__resume.workExperiance.length > 0">
                <div class="border-b">
                    <div class="title-box">Experience</div>
                    <div class="in-box">



                        <div class="professional-box" *ngFor="let item of __resume.workExperiance">
                            <label class="bold">{{item.jobTitle}}</label>


                            <div class="p-0 col-12 row">

                                <div class="col-6 p-0  c-name">{{item.companyName}}</div>
                                <div class="col-6 p-0 text-right">{{item.city}},{{item.city}}</div>
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
                                    {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</span><br>



                                <span class="span-text">{{item.description}}</span>





                            </div>
                        </div>

                
                    </div>

                </div>

            </div>
            <!-- Education -->
            <div class="col-12 sub-box" *ngIf="__resume.education.length >0">
                <div class="border-b">
                    <div class="title-box">Education</div>
                    <div class="in-box">


                        <div class="col-12 p-0 col-box">
                            <div class="professional-box" *ngFor="let item of __resume.education">
                                <label>{{item.feildOfStudy}}</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-6 p-0  c-name">{{item.institutionName}}</div>
                                    <div class="col-6 p-0 text-right"><span>{{item.city}}, &nbsp;</span><span>{{item.country}}</span></div>
                                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
                                        {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</span><br>



                                    <span class="span-text">{{item.description}}</span>
                              </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="main-page">
        <div class="row">
            <!-- Certificates -->
            <div class="col-12 sub-box" *ngIf=" __resume.certificates.length>0">
                <div class="border-b">
                    <div class="title-box">Certificates</div>
                    <div class="in-box">


                        <div class="col-12 p-0 col-box">
                            <div class="professional-box" *ngFor="let item of __resume.certificates">
                                <label>{{item.certificateName}}</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-6 p-0  c-name" *ngIf="item.url">Certification URL </div>
                                    <div class="col-6 p-0 text-right">{{item.certicateCode}}</div>
                                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.dateOfCerticate.month+"/"+item.dateOfCerticate.year}}</span><br>



                                    <span class="span-text">{{item.description}}</span>





                                </div>
                            </div>



                         


                        </div>
                    </div>
                </div>
            </div>

            <!-- Awards -->
            <div class="col-12 sub-box"  *ngIf="__resume.awards.length>0">
                <div class="border-b">
                    <div class="title-box">Awards</div>
                    <div class="in-box">


                        <div class="col-12 p-0 col-box">
                            <div class="professional-box" *ngFor="let item of __resume.awards">
                                <label>{{item.name}}</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-8 p-0  c-name">{{item.url}}</div>
                                    <div class="col-4 p-0 text-right">{{item.issuer}}</div>
                                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.month+"/"+item.year}}</span><br>



                                    <span class="span-text">{{item.description}}</span>





                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


              <!-- Achievements -->
              <div class="col-12 sub-box"  *ngIf=" __resume.achivements.length > 0">
                <div class="border-b">
                    <div class="title-box">Achievements</div>
                    <div class="in-box">


                        <div class="col-12 p-0 col-box">
                            <div class="professional-box" *ngFor="let item of __resume.achivements">
                                <label>{{item.name}}</label>


                                <div class="p-0 col-12 row">


                                    <span class="span-text">{{item.description}}</span>





                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

             <!-- REFERENCE -->
             <div class="col-12 sub-box" *ngIf="__resume.referances.length > 0">
                <div class="border-b">
                    <div class="title-box">REFERENCE</div>
                    <div class="in-box">


                        <div class="col-12 p-0 col-box">
                            <div class="professional-box" *ngFor="let item of __resume.referances">
                                <label>{{item.personName}}</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-12 p-0  c-name">{{item.title}} , {{item.company}} </div>
                                    <div class="col-12 p-0  c-name">{{item.mobile}} </div>
                                    <div class="col-12 p-0  c-name">{{item.email}} </div>

                                    <div class="col-12 p-0  c-name">{{item.description}}</div>
           
                                </div>
                            </div>

                          
                    </div>
                </div>
            </div>
        </div>


          <!-- Publications -->
          <div class="col-12 sub-box" *ngIf="__resume.publications.length >  0">
            <div class="border-b">
                <div class="title-box">Publications</div>
                <div class="in-box">


                    <div class="col-12 p-0 col-box">
                        <div class="professional-box" *ngFor="let item of __resume.publications">



                            <div class="p-0 col-12 row">
                                <div class="col-8 p-0"><label>{{item.title}}</label></div>
                                <div class="col-4 p-0 text-right">{{item.publisher}}</div>
                                <div class="col-8 p-0  c-name">{{item.url}}</div>
                                <!-- <div class="col-4 p-0 text-right">04/2019 - 12/2019</div> -->
                                <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                                <br>
                                <span class="span-text">{{item.description}}</span>





                            </div>
                        </div>

                   
                </div>
            </div>
        </div>
    </div>
        <!--  -->


    </div>

</div>