   
   <div class="" #newton>
   <div class="main-page section" #tasknote >
        <div class="header color-1">
            <div class="row">
                <div class="col-4 bg-color">
                    <div class="user-img">
                        <img src="images/images.jpg" alt="">
                    </div>
                    <div class="name">{{__resume.personal.firstName}} {{__resume.personal.lastName}}</div>
                    <div class="title">{{__resume.workExperiance[0].jobTitle}}</div>
                </div>
                <div class="col-8">
                    <div class="title-box">SUMMARY</div>
                    <p>{{__resume.personal.description}}
                    </p>
                </div>
                <div class="col-12 address">
                    <span><i class="fas fa-phone-square-alt"></i>&nbsp;{{__resume.personal.phoneNumber}}</span>
                    <span><i class="fas fa-envelope-square"></i>&nbsp;{{__resume.personal.email}}</span>
                    <span><i class="fas fa-home"></i>&nbsp;{{__resume.personal.address.street}},
                        {{__resume.personal.address.city}} {{__resume.personal.address.country}}</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 sub-box">


            </div>
        </div>

        <div class="row">
            <div class="col-12 sub-box">
                <div class="border-b">
                    <div class="title-box">Key Skills</div>

                    <span class="key-skills-box">Marketing Campaigns</span>
                    <span class="key-skills-box">Campaign Analysis</span>
                    <span class="key-skills-box">Corporate Communications</span>
                    <span class="key-skills-box">User Growth</span>
                    <span class="key-skills-box">Key Metric Analysis</span>
                </div>
                <div class="border-b">
                    <div class="title-box">TECHNICAL SKILLS</div>

                    <span class="key-skills-box">Marketing Campaigns</span>
                    <span class="key-skills-box">Campaign Analysis</span>
                    <span class="key-skills-box">Corporate Communications</span>
                    <span class="key-skills-box">User Growth</span>
                    <span class="key-skills-box">Key Metric Analysis</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 sub-box">
                <div class="border-b">
                    <div class="title-box">Experience</div>
                    <div class="in-box">



                        <div class="professional-box">
                            <label class="bold">Marketing Campaign Management</label>


                            <div class="p-0 col-12 row">

                                <div class="col-6 p-0  c-name">Company Name</div>
                                <div class="col-6 p-0 text-right">Menia Park,SL</div>
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                    14/12/2019</span><br>



                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to
                                    users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>





                            </div>
                        </div>

                        <div class="professional-box">
                            <label class="bold">software engineer </label>


                            <div class="p-0 col-12 row">

                                <div class="col-6 p-0  c-name">Company Name</div>
                                <div class="col-6 p-0 text-right">Menia Park,US</div>
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                    14/12/2019</span><br>



                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to
                                    users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>





                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Education -->
            <div class="col-12 sub-box">
                <div class="border-b">
                    <div class="title-box">Education</div>
                    <div class="in-box">


                        <div class="col-12 p-0 col-box">
                            <div class="professional-box">
                                <label>Aeronautics and Aviation Science</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-6 p-0  c-name">Institution name</div>
                                    <div class="col-6 p-0 text-right">Menia Park,SL</div>
                                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                        14/12/2019</span><br>



                                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to
                                        users
                                        across
                                        North America and has revenues of $ 10+ mn. per year</span>





                                </div>
                            </div>



                            <div class="professional-box">
                                <label>Business Administration</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-6 p-0  c-name">Institution name</div>
                                    <div class="col-6 p-0 text-right">Menia Park,US</div>
                                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                        14/12/2019</span><br>



                                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to
                                        users
                                        across
                                        North America and has revenues of $ 10+ mn. per year</span>





                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="main-page">
        <div class="row">
            <!-- Certificates -->
            <div class="col-12 sub-box">
                <div class="border-b">
                    <div class="title-box">Certificates</div>
                    <div class="in-box">


                        <div class="col-12 p-0 col-box">
                            <div class="professional-box">
                                <label>certification for project managers</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-6 p-0  c-name">Certification URL / Code</div>
                                    <div class="col-6 p-0 text-right">Authority</div>
                                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 -
                                        12/2019</span><br>



                                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to
                                        users
                                        across
                                        North America and has revenues of $ 10+ mn. per year</span>





                                </div>
                            </div>



                            <div class="professional-box">
                                <label>Business Administration</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-6 p-0  c-name">Institution name</div>
                                    <div class="col-6 p-0 text-right">Menia Park,US</div>
                                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                        14/12/2019</span><br>



                                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to
                                        users
                                        across
                                        North America and has revenues of $ 10+ mn. per year</span>





                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

            <!-- Awards -->
            <div class="col-12 sub-box">
                <div class="border-b">
                    <div class="title-box">Awards</div>
                    <div class="in-box">


                        <div class="col-12 p-0 col-box">
                            <div class="professional-box">
                                <label>Awards Name</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-8 p-0  c-name">URL to award</div>
                                    <div class="col-4 p-0 text-right">Issuer</div>
                                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 -
                                        12/2019</span><br>



                                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to
                                        users
                                        across
                                        North America and has revenues of $ 10+ mn. per year</span>





                                </div>
                            </div>



                            <div class="professional-box">
                                <label>Business Administration</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-6 p-0  c-name">Institution name</div>
                                    <div class="col-6 p-0 text-right">Menia Park,US</div>
                                    <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;14/04/2019 -
                                        14/12/2019</span><br>



                                    <span class="span-text">Alph Foods is the leading provider of restaurant reviews to
                                        users
                                        across
                                        North America and has revenues of $ 10+ mn. per year</span>





                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

             <!-- REFERENCE -->
             <div class="col-12 sub-box">
                <div class="border-b">
                    <div class="title-box">REFERENCE</div>
                    <div class="in-box">


                        <div class="col-12 p-0 col-box">
                            <div class="professional-box">
                                <label>Person Name</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-12 p-0  c-name">Job Title , Company Name </div>
                                    <div class="col-12 p-0  c-name">0758907689 </div>
                                    <div class="col-12 p-0  c-name">abc@gmail.com </div>
                                </div>
                            </div>

                            <div class="professional-box">
                                <label>Person2 Name</label>


                                <div class="p-0 col-12 row">

                                    <div class="col-12 p-0  c-name">Job Title , Company Name </div>
                                    <div class="col-12 p-0  c-name">0758907689 </div>
                                    <div class="col-12 p-0  c-name">abc@gmail.com </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>


          <!-- REFERENCE -->
          <div class="col-12 sub-box">
            <div class="border-b">
                <div class="title-box">Publications</div>
                <div class="in-box">


                    <div class="col-12 p-0 col-box">
                        <div class="professional-box">



                            <div class="p-0 col-12 row">
                                <div class="col-8 p-0"><label>Publications Book Name</label></div>
                                <div class="col-4 p-0 text-right">Publisher</div>
                                <div class="col-8 p-0  c-name">Publications URL/ISBN</div>
                                <div class="col-4 p-0 text-right">04/2019 - 12/2019</div>
                                <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                                <br>
                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>





                            </div>
                        </div>

                        <div class="professional-box">



                            <div class="p-0 col-12 row">
                                <div class="col-8 p-0"><label>Publications Book2 Name</label></div>
                                <div class="col-4 p-0 text-right">Publisher</div>
                                <div class="col-8 p-0  c-name">Publications URL/ISBN</div>
                                <div class="col-4 p-0 text-right">04/2019 - 12/2019</div>
                                <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                                <br>
                                <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                    across
                                    North America and has revenues of $ 10+ mn. per year</span>





                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
        <!--  -->


    </div>

</div>