body {
  margin: 0;
  font-weight: 400;
  background-color: #ebedf3;
  font-family: "Proxima Nova" !important;
  color: #484848 !important;
  font-size: 14px !important;
}

:root,
body,
html {
  background-repeat: no-repeat;
  background-color: #ebedf3;
}

.editor-body-bg-color {
  background: linear-gradient(180deg, #003980 250px, #ebedf3 0%);
  background-repeat: no-repeat;
}

.sidebar {
  background: transparent;
}

table th {
  background-color: #053a75 !important;
}

.add-custom {
  background-color: #053a75 !important;
  padding: 10px 20px;
  color: #fff;
  margin-top: 30px;
}

.editor__group-item--active {
  margin-bottom: 5px;
}

.btn__label {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  color: #053a75;
  font-weight: 600;
  font-size: 14px;
}

.editor__group-sidebar-btn .btn,
.editor__group-main-btn .btn {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:not([disabled]):not(.disabled):hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.editor__photo-label .btn .btn__label {
  color: #fff;
}

.header {
  background-color: transparent !important;
  border: 0;
  color: #fff;
}

.container {
  max-width: 1560px;
}

.select-template__grid {
  margin-top: 22px;
}

.navbar {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #003980;
}

.navbar-light .navbar-nav .nav-link,
.active > .nav-link {
  color: #fff !important;
}

.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: transparent;
  text-decoration: underline;
}

.active > .nav-link {
  font-weight: 600;
}

.bg-color1 {
  padding: 30px;
}

.user-img-box {
  width: 100px;
  height: 100px;
  border-radius: 56px;
  margin: auto;
}

.user-img {
  width: 100%;
  border-radius: 56px;
}

.user-details-box {
  text-align: center;
  color: #fff;
}

.user-name {
  font-weight: 500;
  font-size: 20px;
}

.followers {
  float: left;
  width: 50%;
  margin-top: 50px;
}

.followers .user-select-img {
  float: left;
}

.followers .user-select-img img {
  width: 26px;
  float: left;
  text-align: center;
  margin-top: 12px;
  margin-right: 8px;
}

.followers .follow {
  float: left;
  text-align: left;
  padding-left: 11px;
}

.followers .follow .follow-number {
  display: block;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.followers-main {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-left: 6%;
}

.left-menu {
  padding: 66px 0px;
  text-align: center;
  margin: auto;
  width: 100%;
  position: relative;
  margin-top: 7px;
  display: flow-root;
}

.menu-item {
  width: 48%;
  float: left;
  padding: 20px;
  color: #555a67;
  font-weight: 500;
  font-size: 16px;
  height: 78px;
  border-radius: 8px;
  margin: 2px;
}

.menu-item i {
  display: block;
  margin: 0px !important;
  font-size: 22px;
  position: relative;
  top: 4px;
}

.menu-item .close-lock-icon {
  display: none;
  cursor: pointer;
  position: relative;
  top: -13px;
  right: -12px;
  float: right;
  font-size: 10px !important;
}

.menu-item label {
  color: #555a67 !important;
  font-weight: 600;
  font-size: 14px;
}

.select-item {
  background: #003980;
  color: #fff;
  -webkit-box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.5) !important;
}

.select-item .close-lock-icon {
  display: block;
}

.select-item label {
  color: #fff !important;
}

.menu-item:hover {
  background: #003980;
  color: #fff;
  -webkit-box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.5) !important;
}

.menu-item:hover .close-lock-icon {
  display: block;
}

.menu-item:hover label {
  color: #fff !important;
}

.left-div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  position: relative;
}

.middle-div {
  position: relative;
  border-radius: 10px;
  margin-bottom: 15px !important;
  padding: 10px;
  background: #ffffff;
}

.menu-icon {
  display: none;
}

.right-sec {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 76.666667%;
          flex: 0 0 76.666667%;
  max-width: 76.666667%;
}

#show-slide {
  visibility: hidden;
}

.show-menu-btn {
  display: none;
}

.close-icon {
  display: none;
}

.nav-logo {
  width: 11rem;
}

.nav-item {
  font-size: 16px;
}

.bs-media-container {
  -webkit-box-shadow: 0 10px 50px rgba(42, 34, 66, 0.3);
          box-shadow: 0 10px 50px rgba(42, 34, 66, 0.3);
}

.bs-datepicker-body th {
  padding: 14px 18px;
  font-size: 13px;
  line-height: 11px;
  background-color: #e6e6e6f0 !important;
  color: #000;
}

.bs-datepicker-body .bs-datepicker-head {
  padding: 12px;
  background: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bs-datepicker-body td, .bs-datepicker-body table tr:first-child + tr td {
  padding: 15px;
  font-size: 13px;
  line-height: 11px;
}

@media (max-width: 1366px) {
  :root, body, html {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(32%, #003980), color-stop(0%, #EBEDF3));
    background: linear-gradient(180deg, #003980 32%, #EBEDF3 0%);
    background-repeat: no-repeat;
    background-color: #EBEDF3;
  }
  .followers-main {
    width: 100%;
  }
  .left-menu {
    width: 100%;
    padding: 20px 0px;
  }
}

@media (max-width: 1024px) {
  .menu-icon {
    display: block;
  }
  :root, body, html {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(32%, #003980), color-stop(0%, #EBEDF3));
    background: linear-gradient(180deg, #003980 32%, #EBEDF3 0%);
    background-repeat: no-repeat;
    background-color: #EBEDF3;
  }
  .menu-item {
    width: 48%;
    float: left;
    padding: 20px;
    font-size: 14px;
    color: #ffffff;
  }
  .left-div {
    position: fixed;
    top: 0;
    margin: auto;
    background: #1766a5;
    z-index: 99;
    -webkit-transition: .5s;
    transition: .5s;
    left: -350px;
    height: 100vh;
    max-width: 30%;
    padding: 66px 23px;
    overflow-y: auto;
  }
  .middle-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 100%;
  }
  #show-slide:checked ~ .left-div {
    left: 0;
  }
  .middle-div {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 96%;
    margin: auto;
  }
  .close-icon {
    position: absolute;
    right: 10px;
    top: 13px;
    color: #fff;
    display: block;
  }
  .show-menu-btn {
    padding: 0px 10px;
    font-size: 16px;
    color: #fff;
    margin-top: 9px;
    display: block;
  }
  .right-sec {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .left-div {
    max-width: 44%;
  }
}

@media (max-width: 425px) {
  .left-div {
    max-width: 80%;
  }
}

