@import "@angular/material/prebuilt-themes/indigo-pink.css";
$h-bg-color: #323232;
$name-color: #258ef9;

$bg-color: #00756a;
$bg-color2: #f8f7fc;
$btn-color: #00756a;
$color-2:#5d5d5d;

body {
  margin: 0;
  font-weight: 400;
  background-color: $bg-color2;
  font-family: "Proxima Nova" !important;
  color: #484848 !important;
  font-size: 14px !important;
}

:root,
body,
html {
  background-repeat: no-repeat;
  background-color: $bg-color2;
}

.editor-body-bg-color {
  background: linear-gradient(180deg, $bg-color 280px, $bg-color2 0%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sidebar {
  background: transparent;
}

table th {
  // background-color: #053a75 !important;
}

.add-custom {
  background-color: $bg-color !important;
  padding: 10px 20px;
  color: #fff;
  margin-top: 30px;
}

.editor__group-item--active {
  margin-bottom: 5px;
}

.btn__label {
  transition: all 0.25s;
  color: $bg-color;
  font-weight: 600;
  font-size: 14px;
}

.editor__group-sidebar-btn .btn,
.editor__group-main-btn .btn {
  background: transparent;
  box-shadow: none;
}

.btn:not([disabled]):not(.disabled):hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.editor__photo-label .btn {
  .btn__label {
    color: #fff;
  }
}

.header {
  background-color: transparent !important;
  border: 0;
  color: #fff;
}

.container {
  max-width: 1560px;
}

.select-template__grid {
  margin-top: 22px;
}

.navbar {
  box-shadow: none;
  background-color: $bg-color;
}

.navbar-light .navbar-nav .nav-link,
.active>.nav-link {
  color: #fff !important;
  font-weight: 500;
}

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
  background-color: transparent;
  text-decoration: underline;
}

.active>.nav-link {
  font-weight: 600;
}

.bg-color1 {
  padding: 30px;
  // background-color: $bg-color;
}

.user-img-box {
  width: 100px;
  height: 100px;
  border-radius: 56px;
  margin: auto;
}

.user-img {
  width: 100%;
  border-radius: 125px;
  height: 91%;
  object-fit: fill;
}
.user-img-main{
  width: 179px;
  height: 160px;
  margin: auto;
}
.user-details-box {
  text-align: center;
  color: #fff;
  margin-left: 65px;
}

.user-name {
  font-weight: 500;
  font-size: 20px;
}

.followers {
  float: left;
  width: 50%;
  margin-top: 50px;

  .user-select-img {
    float: left;

    img {
      width: 26px;
      float: left;
      text-align: center;
      margin-top: 12px;
      margin-right: 8px;
    }
  }

  .follow {
    float: left;
    text-align: left;
    padding-left: 11px;

    .follow-number {
      display: block;
      margin: 0;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.followers-main {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-left: 6%;
}

.left-menu {
  padding: 0px;
  text-align: center;
  margin-left: 22px;
  width: 100%;
  position: relative;
  margin-top: 7px;
  display: flow-root;
}

.menu-item {
  text-align: left;
  width: 87%;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
  padding: 16px;
  color: #5d5d5d;
  font-weight: 500;
  font-size: 16px;
  height: 56px;
  border-radius: 8px;
  border: solid #ececec 1px;

  i {
    /* display: block; */
    margin: 0px !important;
    font-size: 22px;
    position: relative;
    top: -2px;
    margin-right: 12px !important;
    color: #5d5d5d;
  }

  .close-lock-icon {
    display: none;
    cursor: pointer;
    position: relative;
    top: 9px;
    right: -12px;
    float: right;
    font-size: 13px !important;
  }

  label {
    color: #5d5d5d !important;
    font-weight: 500;
    font-size: 14px;
    top: -7px;
    position: relative;
  }
}

.select-item {
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.05);
  // border: solid $bg-color 2px;

  .close-lock-icon {
    display: block;
    color: $bg-color !important;
  }

  label,
  i {
    color: $bg-color !important;
  }
}

.item-list {
  margin: auto;
  width: 100%;
  margin-left: 38px;
}

.menu-item:hover {
  background: $bg-color;
  color: #fff;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.5) !important;

  .close-lock-icon {
    display: block;
  }

  label,
  i {
    color: #fff !important;
  }
}

.left-div {
  flex: 0 0 25%;
  max-width: 30%;
  position: relative;
}

.middle-div {
  position: relative;
  border-radius: 10px;
  margin-bottom: 15px !important;
  padding: 10px;
  background: #ffffff;
}

.menu-icon {
  display: none;
}

.right-sec {
  flex: 0 0 70%;
  max-width: 70%;
  margin-bottom: 23px;
}

#show-slide {
  visibility: hidden;
}

.show-menu-btn {
  display: none;
}

.close-icon {
  display: none;
}

.nav-logo {
  width: 11rem;
  display: none;
}

.nav-item {
  font-size: 16px;
}

.bs-media-container {
  box-shadow: 0 10px 50px rgba(42, 34, 66, 0.3);
}

.bs-datepicker-body {
  th {
    padding: 14px 18px;
    font-size: 13px;
    line-height: 11px;
    background-color: #e6e6e6f0 !important;
    color: #000;
  }

  .bs-datepicker-head {
    padding: 12px;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  td,
  table tr:first-child+tr td {
    padding: 15px;
    font-size: 13px;
    line-height: 11px;
  }
}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.editor__group-main-wrapper {
  position: relative;

  input,
  select {
    font-size: 14px !important;
    padding-top: 9px !important;
    height: 3.3rem !important;
    color: #292929;
  }

  label {
    // position: absolute;
    // top: 9px;
    // left: 0;
    // padding: 10px 25px;
    // color: #797979;
    // transition: 0.5s !important;

    position: absolute;
    top: 9px;
    left: 0;
    padding: 10px 25px;
    // font-size:16px;
    color: #797979;
    pointer-events: none;
    transition: .5s;
  }


}

.editor__group-main-wrapper select.selected~label,
.editor__group-main-wrapper input:focus~label,
.editor__group-main-wrapper input:valid~label,
.editor__group-main-wrapper input:hover~label,
.editor__group-main-wrapper label:hover {
  top: -5px !important;
  // color: #03a9f4 !important;
  font-size: 12px;
  // left: 22px;
}

.fixde-div {
  position: fixed;
  top: 110px;
  z-index: 1020;
  width: 20%;
}

.edit-box-delete-icon {
  position: relative;
  right: 31px;
  top: -5px;
  color: #645f5f;
  font-size: 15px;
  color: #e00000;
}

.editor__photo-label {
  span {
    background: transparent;
    border: solid 3px $btn-color;
    padding: 3px 27px;
  }

  span:hover {
    background: transparent;

  }

  span:hover~.btn__label {
    color: $bg-color;
  }

  .btn .btn__label {
    color: $bg-color;
  }

  .btn__label:hover {
    color: $bg-color;
  }
}

.goto-top {
  position: relative;
  right: -66px;
  float: right;
  top: -114px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: $btn-color;
  font-size: 22px;
  border-radius: 31px;
  transition: all 0.8s ease-in-out;
  // opacity: 0;
  transform: translateY(30px);
}

.intro-appear {
  opacity: 1;
  color: rgb(2, 104, 129);
  transform: translateY(0px);

}

// color Theme


.professional-box {
  padding: 10px 0;
}

.sub-colo {
  color: $name-color !important;
}

.color-1 {}

.color-main-box {
  position: fixed;
  top: 25px;
  right: 16px;
  z-index: 9999;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  padding: 10px;
  border-radius: 10px;
  width: 102px;
  text-align: center;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.color-box {

  // background: #004d6b;
  margin: 7px auto;
  width: 60px;
  height: 34px;
}

.color-box:hover {
  cursor: pointer;
}

.color-ccc {
  background: #004d6b;
}

.color-1f3471 {
  background: #1f3471;
}

.color-323232 {
  background: #323232;
}

.color-0070c0 {
  background: #0070c0;
}

.color-7d1914 {
  background: #7d1914;
}

.color-7d191 {
  background: #7d1914;
}

.color-2c3e50 {
  background: #2c3e50;
}

.color-00b7ea {
  background: #00b7ea;
}
.color-f20043{
  background: #f20043;
}
.color-44556f{
  background: #44556f;
}
.ccc-temp {
  top: 24px;
}

.tem-img {

  width: 196px;
  position: fixed;

}

.tem-img::before {
  position: absolute;
  content: "";
  border: 12px solid;
  right: -24px;
  border-color: #ffffff00 transparent #dedbdb00 #1f3471;
  top: 1px;
}

.tem-img-hov {
  width: 100%;
}

.tem-img-1 {
  display: none;
  right: 110px;
  top: 60px;
}

.tem-img-2 {
  display: none;
  right: 110px;
  top: 60px;
}

.tem-img-3 {
  display: none;
  right: 110px;
  top: 60px;
}

// .color-ccc:hover {
//     width: 100px;
//     background: #03A9F4;
// }

.color-ccc:hover~.tem-img-1 {
  display: block;
  // border: solid 5px #03A9F4;
  // color: red;
}

//   .color-ccc:hover ~ .tem-img,
//   .color-323232:hover ~ .tem-img-hov,
//   .color-0070c0:hover ~ .tem-img-hov,
//   .color-7d191:hover ~ .tem-img-hov,
//   .color-2c3e50:hover ~ .tem-img-hov{
//     display: block;
//   }
.color-1f3471:hover~.tem-img-2 {
  display: block;
}

.myClass {
  color: #ccc;
}

.div-sticky {
  height: 84vh;
  overflow: auto;
  top: 34px;
  padding-right: 11px;
}


#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #20ab9e;
  // border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 00px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #20ab9e;
  // background-color: #555;
}


.select-template__item {
 box-shadow: 4px 8px 16px 0 rgba(0,0,0,.2);
}

.ck ul{
  margin-bottom: var(--ck-spacing-large);
  list-style: disc;
  margin-left: 24px;
}
.ck li, .ck p {
  line-height: 23px;
  color: #3c3b3b;
}
.editor__group-item-label{
  line-height: 25px;
}

.editor__group-item {
  margin-bottom: 10px;
  padding: .8rem 1.1875rem;
  display: flex;
  background: rgba(165, 187, 185, 0.28);
  height: auto;
}


.main-page p, .main-page li {
  line-height: 24px;
  font-size: 13px;
  color: #3f4548;
  text-align: justify;
}

.professional-box{
  font-weight: 600;
  text-transform: capitalize;
  color: #000;
}
.date-font-size{
  font-size: 12px;
}
.c-name {
  font-size: 12px;
  font-weight: 600;
}
.span-text{
  margin-top: 6px !important;
}

@import "media_query";
