<!-- Page 1 -->
<div class="" #pages>
    <div class="main-page" #californi>
        <div class="row-ca row-ca-hight">
            <div class="col-4 color-1">
                <div class="top-border color-4"></div>
                <div class="user-img">

                    <img src="https://www.cricbuzz.com/stats/img/faceImages/508.jpg" alt="">
                </div>

                <div class="contact-box">
                    <ul class="user-details">
                        <li><span><i class="fa fa-phone"></i>&nbsp;&nbsp;+94758627689</span></li>
                        <li><span><i class="fa fa-envelope"></i>&nbsp;&nbsp;lojan@gmail.com</span></li>
                        <li><span><i class="fa fa-map-marker"></i>&nbsp;&nbsp;29 Deal Pl, Colombo,SL</span></li>

                    </ul>

                </div>
                <div class="col-12 prsonal-box">
                    <div class="title-box font-color color-2">Personal Details</div>
                    <ul class="user-details-social">
                        <li><span><i class="fa fa-phone"></i>&nbsp;&nbsp;+94758627689</span></li>
                        <li><span><i class="fa fa-envelope"></i>&nbsp;&nbsp;lojan@gmail.com</span></li>
                        <li><span><i class="fa fa-map-marker"></i>&nbsp;&nbsp;29 Deal Pl, Colombo,SL</span></li>

                    </ul>
                </div>
                <div class="col-12 prsonal-box">

                    <div class="title-box font-color color-2">Summery</div>
                    <p style="text-align: justify;">Enterprising marketing professional skilled at marketing, communications, branding, campaign management, and campaign analysis. Over a career of 2+ years, gained exposure to and executed multiple marketing initiatives. Adept at launching marketing campaigns resulting in significant sales and user acquisition. Skilled at analysing & improving the performance of campaigns through data analysis and competitive benchmarking.
                    </p>
                </div>

                <div class="col-12 prsonal-box">
                    <div class="title-box font-color color-2">SKILLS</div>
               
                    <div class="pl-1" *ngFor="let skills of resumeComponents.skills">
                        <span class="skill-sub-title">{{skills.skillCategoryName}}</span>
                        <span class="key-skills-box color-4" *ngFor="let skill of skills.skillNames">
                            {{skill.skillName}}
                        </span>
                    </div>
                </div>

             

            </div>
            <div class="col-8 margin-top">
                <div class="row name-tag color-1">
                    <div class="col-12">
                        <label for="" class="color-2">{{resumeComponents.personal.firstName}} {{resumeComponents.personal.lastName}}</label>
                        <span>
                        {{resumeComponents.workExperiance[0].jobTitle}}

                    </span>
                    </div>

                </div>
                <div class="col-12 col-box">
                    <div class="title-box font-color color-3" *ngIf="resumeComponents.workExperiance.length > 0"><i class="fa fa-phone name-icon color-2"></i>Experience</div>
                    <div class="professional-box" *ngFor="let item of resumeComponents.workExperiance">
                        <label>{{item.jobTitle}}</label>

                        <div class="p-0 col-12 row-ca">

                            <div class="col-6 p-0  c-name">{{item.companyName}}</div>
                            <div class="col-6 p-0 text-right">{{item.city}},{{item.city}}</div>
                            <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
                            {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</span>
                            <br>

                            <span class="span-text">
                            {{item.description}}
                        </span>

                        </div>
                    </div>

                </div>
                <div class="col-12 col-box" *ngIf="resumeComponents.education.length >0">
                    <div class="title-box font-color color-3"><i class="fas fa-book-open color-2"></i>EDUCATION</div>
                    <div class="professional-box" *ngFor="let item of resumeComponents.education">
                        <label>{{item.feildOfStudy}}</label>

                        <div class="p-0 col-12 row-ca">

                            <div class="col-6 p-0  c-name">{{item.institutionName}}</div>
                            <div class="col-6 p-0 text-right"><span>{{item.city}},
                            &nbsp;</span><span>{{item.country}}</span></div>
                            <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.timePeriod.from.month+"/"+item.timePeriod.from.year}} -
                            {{item.timePeriod.to.month+"/"+item.timePeriod.to.year}}</span>
                            <br>

                            <span class="span-text">{{item.description}}</span>

                        </div>
                    </div>

                </div>

                <div class="col-12 col-box" *ngIf="resumeComponents.certificates.length >0">
                    <div class="title-box font-color color-3"><i class="fa fa-phone name-icon color-2"></i>CERTIFICATES</div>
                    <div class="professional-box" *ngFor="let item of resumeComponents.certificates">
                        <label>{{item.certificateName}}</label>

                        <div class="p-0 col-12 row-ca">

                            <div class="col-12 p-0  c-name">{{item.authority}}</div>
                            <div class="col-6 p-0 ">{{item.certicateCode}}</div>
                            <div class="col-6 p-0 text-right">
                                <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.dateOfCerticate.month+"/"+item.dateOfCerticate.year}}</span>
                            </div>

                            <span class="span-text">{{item.description}}</span>

                        </div>
                    </div>

                </div>

                <div class="col-12 col-box" *ngIf="resumeComponents.awards.length >0">
                    <div class="title-box font-color color-3"><i class="fa fa-phone name-icon color-2"></i>Awards</div>
                    <div class="professional-box" *ngFor="let item of resumeComponents.awards">
                        <label>{{item.name}}</label>

                        <div class="p-0 col-12 row-ca">

                            <div class="col-6 p-0  c-name">{{item.url}}</div>
                            <div class="col-6 p-0 text-right">{{item.issuer}}</div>
                            <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;{{item.month+"/"+item.year}}</span>
                            <br>

                            <span class="span-text">{{item.description}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-box" *ngIf="resumeComponents.achivements.length >0">
                    <div class="title-box font-color color-3"><i class="fa fa-phone name-icon color-2"></i>ACHIEVEMENTS</div>
                    <div class="professional-box" *ngFor="let item of resumeComponents.achivements">
                        <label>{{item.name}}</label>

                        <div class="p-0 col-12 row-ca">
                            <span class="span-text">{{item.description}}</span>

                        </div>
                    </div>


                </div>

                   <!-- Reference -->

                   <div class="col-12 col-box" *ngIf="resumeComponents.referances.length >0">
                    <div class="title-box font-color bo-color">REFERENCE</div>

                    <div class="professional-box"  *ngFor="let item of resumeComponents.referances">
                        <label>{{item.personName}}</label>


                        <div class="p-0 col-12 row-ca">

                            <div class="col-12 p-0  c-name">{{item.title}} , {{item.company}}</div>
                            <div class="col-12 p-0  c-name">{{item.mobile}} </div>
                            <div class="col-12 p-0  c-name">{{item.email}} </div>
                            <div class="col-12 p-0  c-name">
                                <p> 
                                    {{item.description}}
                                </p> 
                        </div>
                        </div>
                    </div>

                  



                </div>
                <div class="col-12 col-box" *ngIf="resumeComponents.publications.length >0">
                    <div class="title-box font-color bo-color">Publications</div>
                    <div class="professional-box" *ngFor="let item of resumeComponents.publications">
                        


                        <div class="p-0 col-12 row-ca">
                            <div class="col-8 p-0"><label>{{item.title}}</label></div>
                            <div class="col-4 p-0 text-right">{{item.publisher}}</div>
                            <div class="col-8 p-0  c-name">{{item.url}}</div>
                            <div class="col-4 p-0 text-right">04/2019 - 12/2019</div>
                            <!-- <span class="span-text"><i class="far fa-calendar-alt"></i> &nbsp;04/2019 - 12/2019</span><br> -->


                            <br>
                            <span class="span-text">Alph Foods is the leading provider of restaurant reviews to users
                                across
                                North America and has revenues of $ 10+ mn. per year</span>





                        </div>
                    </div>

                  
                    </div>



 

                

            </div>
        </div>
    </div>

    <!-- Page 2 -->
    <div class="main-page page2" *ngIf="page2Flag">
        <div class="row">
            <div class="col-12" #page2>

            </div>
        </div>
    </div>

</div>